[2017-04-06 19:55] lecaillon opened #1 "Setup Travis CI"
Add Travis CI in order to unit test .NET Core on Linux vs AppVeyor

[2017-04-06 20:05] lecaillon opened #2 "Add MySQL / MariaDB support"

[2017-04-06 20:25] lecaillon opened #3 "Add .NET Core project support to Evolve"
.NET Core projects have a completly different build folder arrangement.
Apart from the main assembly, all the others (database drivers in our case) are in the NuGet cache. So finding and loading them on the fly at build time is quite delicate. Even more when you need to deal with their native dependencies.

- Add new MsBuild task for .NET Core projects
- Add new assembly loading strategy for .NET

[2017-04-22 17:24] lecaillon commented on #1
- [x] .NET Core unit tests
- [x] PostgreSQL integration tests
- [x] SQL Server integration tests (via docker)
- [x] SQLite integration tests

[2017-04-22 17:24] #1 closed

[2017-04-23 22:38] #3 closed

[2017-05-11 14:45] robvanpamel commented on #2
Hi,

Is there already some progress on this one ?

Kind regards
  Rob

[2017-05-11 18:37] lecaillon commented on #2
I'm working on it. I hope I can find more time to release something soon. This feature is definitely wanted.

[2017-05-21 23:48] #2 closed

[2017-05-23 18:08] lecaillon commented on #2
@robvanpamel
Hi, if you like Evolve or... not , feedback would be appreciated. Evolve is young and certainly  perfectible.
Thanks

[2017-06-06 20:10] lecaillon opened #5 "Add support for Oracle database on .NET"
Add support for Oracle database on .NET, waiting the release by Oracle of a .NET Core driver by the end of the year.

[2017-06-26 03:52] chenmela opened #6 "Support for already existing databases"
Say I have a database updated to version 3 and want to begin using Evolve to migrate version 4 and onward. It is not currently possible without manipulating file names or moving old scripts to a different project folder.

I would be interested in seeing functionality for Evolve to recognize certain scripts have already been executed, and to only migrate scripts after a particular version number. T

[2017-06-26 21:32] lecaillon commented on #6
Hi @chenmela

That is definitely a feature to add.

I can add a new _StartVersion_ parameter.
During migration if this parameter is set, a new record (type=3) is inserted in the metadata table.
Evolve will then ignore all migrations until this version, excluded.

Note:
- Only one _StartVersion_ should be allowed by database; if not an exception is thrown.
- Because the database schema was not empt

[2017-06-27 15:55] chenmela commented on #6
This sounds reasonable to me.

[2017-06-28 22:15] lecaillon commented on #6
Done in version 1.3.0

See `StartVersion` parameter in https://github.com/lecaillon/Evolve/wiki/Configuration

[2017-06-28 22:27] #6 closed

[2017-06-30 01:09] Sacrelicious opened #7 "Optionally not run migrations on build"
I would like to use Evolve in our project, but we would like to run it on a build server, which does not have access to the database, so we would like to have the option to not try to run migrations on build. I'd suggest either adding a new Command that's "Ignore" (or something), or have it default to not doing anything if the Command option isn't set.

[2017-06-30 19:06] lecaillon commented on #7
Hi @Sacrelicious

Do nothing by default when the `Evolve.Command` is empty is a good idea.
I certainly should have done this at first, but at the time I wanted the user to set a minimum number of parameter to use Evolve.
The problem with this change is for people who use Evolve without setting this parameter.
For them it's a breaking change (a tiny one for a few of them I admit)

The less bad solu

[2017-06-30 19:33] #7 closed

[2017-07-10 14:15] kadamnitin opened #9 "EvolveConfigurationException: Prefix V not found in sql"
my sql script file name is V1_0_0__build_1_0_0_7.sql

following  error occured while migrating
Evolve : error : EvolveConfigurationException: Prefix V not found in sql file

[2017-07-10 14:41] lecaillon commented on #9
Hi,

I cannot reproduce your error.
I've just tested a migration with the filename you talk about and it succeeded. Here is the result I have:
_Successfully applied migration V1_0_0__build_1_0_0_7.sql._

Could you please verify the name of your file ?
If the problem still occured, paste me a copy of the output window you have.
And give me some infos like the version of Evolve, the version of the .

[2017-07-10 14:54] kadamnitin commented on #9
Evolve version 1.3.1
Dot Net Framework 4.0

config :

<add key="Evolve.ConnectionString" value="Connection.PPE"/>
		<add key="Evolve.Driver" value="sqlserver" />

		<add key="Evolve.Locations" value="Sql_Scripts" />
		<add key="Evolve.Command" value="migrate" />

Error :

 Migration folder Sql_Scripts copied to c:\jenkins\Web\obj\TEST\Sql_Scripts.
  Executing Migrate...
  Evolve initialized.
  No

[2017-07-10 17:35] lecaillon commented on #9
I reproduced the error. It is due to the .NET framework version you use. As specified in the wiki the min verison supported is .NET 4.5.1+
I don't know why Nuget let you download the package without a warning ?
By the way, .NET 4.0 is not supported by Microsoft anymore. Me neither.

So if you want to use Evolve, update your .NET framework.

[2017-07-10 20:37] lecaillon opened #10 "Database driver loading fails for .NET Core web projects"
Database driver loading fails for .NET Core web projects.
Because "compileOnly" assemblies found in the deps file (like the _NETStandard.Library_) are not well managed.

[2017-07-11 19:17] #9 closed

[2017-07-11 20:18] #10 closed

[2017-07-13 17:07] lecaillon opened #11 "On-Board project to the .NET Foundation"
## Getting into the .NET Foundation
- [x] Make sure the project has a good name that is easy to remember and
  spell. Check that it doesn't [conflict with another existing project](http://ivantomic.com/projects/ospnc/)
- [x] Make sure the people involved in the project want to join the .NET Foundation
- [x] Make sure the project has a clear understanding about how it accepts contributions and the

[2017-07-15 14:33] lecaillon opened #12 "Add different configuration settings for different environments"
### Motivation:
Actually Evolve does not support different configuration for different environments for .NET Core projects.
It only uses a simple json file called **Evolve.js** for it.
Not ideal when you want to have different setup between `Development`, `Staging` and `Production`.
### Solution:
Allow to specfiy multiple configuration files merged at build-time by Evolve depending the selected `b

[2017-07-18 11:37] pumpkiiin opened #13 "In-app mode not working"
I have an application on .NET 4.5.2, database is SQL Server 2016. MSBuild mode works just fine, but in-app mode is not working and an exception is not thrown.Here is the code I used to create the reference:

SqlConnection conn = new SqlConnection(WebConfiguration.sqlConnectionString);
var evolve = new Evolve.Evolve(conn, msg => Console.WriteLine(msg))
{
                    Locations = new List<str

[2017-07-18 14:35] lecaillon commented on #13
Hi Catalin,

I think Evolve does not find the **Migration_Scripts** folder *in-app* mode.
It works via MsBuild because the MsBuild task copy the `Locations` folders to the output folder for you. If you use Evolve directly you have 3 options:
- Set the full path to your migration folder
- Set the relative path to your migration folder from the output folder of your project
- Use Visual Studio on ea

[2017-07-18 16:30] pumpkiiin commented on #13
Hi Philippe,

 Thank you for your quick response.I set the full path to the migration folder and it works.
 I don't want to use the **MsBuild** and I removed the options from **Web.config** and the application only uses the **In-app** mode.
 I've met another problem, when I add a new **.sql** file in **Migration_Scripts** I have to build the project and run the application to migrate the file, if

[2017-07-18 17:29] lecaillon commented on #13
I don't reproduce your issue. I think you are struggling with your location path.
In your case, be sure to use the **original** Migration_Scripts  folder, not the one Evolve build task will copy in your output folder.

[2017-07-19 09:11] pumpkiiin commented on #13
Hi,

The problem was that I wanted to migrate the sql files in **Application_Start** method from **Global.asax.cs**.I needed to restart IIS and run the application again to solve this.I didn't pay attention to this detail.
 Your migration tool is very useful and I am looking forward to use it.
 Thank you for your quick responses.

[2017-07-19 09:20] #13 closed

[2017-07-31 20:03] #12 closed

[2017-09-14 11:50] N41m0r opened #14 "In App without Evolve.json configuration file"
Hello Philippe,

When I build my projects (.net core 2) without configuration file "Evolve.json", my build crash because Evolve.json is not found and i would like to run Evolve only In App.

I have changed evolve.targets in my nuget package to solve this :
here is my code :

[code]

[2017-09-14 19:35] lecaillon commented on #14
Evolve.targets updated to only execute the task if the Evolve.json configuration file is found.
A message is logged in the output window otherwise.

[2017-09-14 19:36] #14 closed

[2017-10-02 19:22] Andrewwelton opened #15 "SQLite Errors on running .migrate()"
I'm using Evolve through the InApp configurations. When I run Evolve.migrate(), some SQLite errors are produced.

`SQLite error (1): near "SHOW": syntax error`
`SQLite error (1): no such function: version`
`SQLite error (1): unrecognized token: "@"`

These don't actually impact the functionality of the migration tool. It works well. However as I add more migrations, each of the aforementioned erro

[2017-10-02 20:15] lecaillon commented on #15
Well, I reproduced partially your issue. I saw in the output window the SQLite error you mentioned.
But not 3 times for each migration scripts. Only 3 times by migration. Do you run `Evolve.Migrate()` multiples times ?

[2017-10-02 20:20] Andrewwelton commented on #15
Apologies, I must've had something else going on to have it happen multiple times as I can't reproduce that part now. It is only the 3 for the whole migration.

[2017-10-02 20:30] Andrewwelton commented on #15
That method was my best guess as to the cause of it. It was the only place I saw the "SHOW" sql query being used. Just seems weird if I'm providing the Driver when instantiating the class, shouldn't that be an indication?

As I mentioned, it definitely doesn't impact the performance of the framework (which is really fantastic by the way!), so if this isn't something that would be a simple fix feel

[2017-10-02 20:36] lecaillon commented on #15
These messages are due to the [method](https://github.com/lecaillon/Evolve/blob/035138513fc8846769daf4ba748a17950b70d3f9/src/Evolve/Extensions/WrappedConnectionEx.cs#L14) I use to determine the database you use (SQL Server, SQLite, PostgreSQL ...)

I will try to use an another strategy in a future version, but honestly, because the migrations work fine
it is not in my top priority list.

And yes,

[2017-10-02 20:36] Andrewwelton commented on #15
Totally fair! Thank you for the quick responses :)

[2017-10-06 05:05] izep opened #16 "Command line interface"
Add a command line interface to run migrations. Something similar to a wrapper around Evolve.dll, that accepts either a settings file or command line parameters.

Similar to https://flywaydb.org/documentation/commandline/.

[2017-10-06 20:02] lecaillon commented on #16
Good idea :thumbsup:. I'll look into it.

I think we need 2 CLI:
- One for the .NET framework, ideally a single .exe
- And one for the .NET Core, eventually integrated with the dotnet CLI

And we need to think about the packaging: should we use the Evolve Nuget package (I think so for now) or create an another distribution (for example Evole.CLI) ?

[2017-10-07 08:03] lecaillon commented on #15
@Andrewwelton I finally remember why I use this method to detect what type of DBMS is used. That's because Evolve can run in "App-Mode" (you instanciate the class `Evolve` in your code) and this way can be started with a DbConnection object in the constructor, without any driver specified.

I don't know any method to determine wich kind of database is used with only a `IDbConnection`

Are you ? :w

[2017-10-07 08:07] lecaillon opened #17 "Support for cluster configurations"
Place a lock on an application resource of the database, to coordinate multiple nodes.
Ensures that even if even multiple instances attempt to migrate the database at the same time, only one will process it.

[2017-10-10 11:39] #15 closed

[2017-10-11 13:24] Andrewwelton commented on #15
Yeah that totally makes sense, I'm using the "App-Mode" myself :)

My thought was that if I instantiate the Evolve object in app like this:
`var evolve = new Evolve.Evolve(connection, Console.WriteLine) { Driver = "sqlite" };`

I've provided what type of connection the `IDbConnection` is when I instantiated the `Evolve` object, so doing the extra work to try and figure it out seemed unnecessary.

[2017-10-11 17:57] sartan commented on #16
A dotnet CLI integration would be great, specifically to be able to run migrations ad hoc (as opposed to having them them run automatically post-build).

[2017-10-11 20:08] sartan opened #18 "Provide configuration via environment variables"
Current configuration techniques (App.config / Web.config / evolve.json) have you hardcode connection string into a file that will likely be committed to source control. This is not desirable since the connection string contains credentials. It would be great to be able to provide certain configuration via environment variables, for example:

[code]

This can be achieved programmatically using _in

[2017-10-15 08:17] lecaillon commented on #18
@sartan Here are examples of Evolve configuration options with environment variables support:
[code]
or
[code]

[2017-10-17 18:07] #17 closed

[2017-10-17 18:09] #18 closed

[2017-10-17 22:27] sartan commented on #18
Thank you! Look forward to trying it out.

[2017-11-02 06:04] shinderahulb opened #20 "How to fix out of order migrations that were applied to production in release branch?"
I am working in Release branch. Main line has higher version of migration scripts. I have applied the hotfix to Production from Release branch. Now, how to apply the lower version migration in DEV environment. In flyway there was way to apply missing migration using OutOfOrder property. I am missing that property.

[2017-11-05 21:04] lecaillon commented on #20
There is no such an option.
You could obviously run your script manually and insert a new record in the Evolve `changelog` metadata table. _(Run this hotfix in a test database first, and check the content of the metadatable)_

I'm planning to add this option in the next release of Evolve. If you could wait... but I imagine not.

[2017-11-08 20:07] #20 closed

[2017-11-08 20:52] ZOXEXIVO opened #21 "PostgreSQL 10: Validation of the database connection failed. Exception while reading from stream"
Initial migration for Postgresql failed
v1.6.0 - v1.7.0
PostgreSQL 10
.NET Core 2.0
Install clean postgresql server 10.0 and try make initial migration with simple queries.
Same code works with Postgresql 9.6

{Evolve.EvolveException: Validation of the database connection failed. Exception while reading from stream ---> Npgsql.NpgsqlException: Exception while reading from stream ---> System.IO.IOE

[2017-11-08 21:21] lecaillon commented on #21
Please... more info

Before logging a new issue, please have a quick read through the [contribution guidlines](https://github.com/lecaillon/Evolve/blob/master/CONTRIBUTING.md).

[2017-11-08 21:36] ZOXEXIVO commented on #21
Npgsql related error

[2017-11-08 21:40] lecaillon commented on #21
What do you mean by "Npgsql related error" ?

[2017-11-08 21:49] lecaillon commented on #21
Can I close the issue ?

[2017-11-08 21:53] ZOXEXIVO commented on #21
Yes

[2017-11-08 21:54] #21 closed

[2017-11-11 03:39] shinderahulb commented on #20
Thank you, Philippe!

Sent from my iPhone

On Nov 8, 2017, at 12:07 PM, Philippe Lécaillon <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #20<https://github.com/lecaillon/Evolve/issues/20>.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/lecaillon/Evolve/issues/20#event-1332633214>, or mute th

[2017-11-20 15:45] zimmi opened #22 "Consider changing build message for in-app mode"
Hi, I'm using Evolve 1.7.0 with .NET Core 2.0 in in-app mode.
As such, I'm not using an Evolve.json file.

Being new to .NET (and NuGet), the message that gets logged when the Evolve.json file is not found (introduced in #14) was kind of misleading to me:
_Evolve.json configuration file not found. MsBuild task execution cancelled._

I read this as: My whole build didn't execute because this file w

[2017-11-21 23:50] xr280xr opened #23 "Support for multiple databases"
Does Evolve support migration of multiple databases? I have a logging database separate from my application database and it would be great if it could be configured for migrations of both.

[2017-11-24 03:37] RongieZeng commented on #23
You can do it with In-app mode.

[2017-11-27 18:49] #23 closed

[2017-12-08 19:55] xr280xr opened #25 "Increase Command Timeout"
I don't know if this is just not an intended use for migration files, but I'm trying to seed postal code data in a migration. To me it makes sense because it is a default set of data that my my application will need in order to run and the table is meaningless without its data. Since it is tens of thousands of rows to insert, it takes a while to complete and Evolve's command is timing out. We trie

[2017-12-09 08:46] lecaillon commented on #25
Evolve use the default [command timeout](https://msdn.microsoft.com/en-us/library/system.data.sqlclient.sqlcommand.commandtimeout(v=vs.110).aspx) that is 30 seconds.
And there is currently no way to change that. I could later add a configuration property.

Then Evolve [splits your migration script](https://github.com/lecaillon/Evolve/blob/609e5b1ad0158f5a745ca3e7269cb9fae3be05b7/src/Evolve/Evolve.

[2017-12-13 12:15] leonborko opened #26 "Documentation: OutOfOrder"
Please add OutOfOrder config in documentation

[2017-12-13 21:56] shankarganiger opened #27 "Upgrade to .net core 2.0 is trying to look for db connection configuraion"
Hi ,
      I tried upgrading my project to .net core 2.0 from 1.1.Now I see when I do the build in VS2017 (msbuild)
it is running the post build command. I want to run migrations or configure migrations on startup of the app and not on build. Please let me know any settings I need to do to override this behavior

[2017-12-13 23:00] lecaillon commented on #27
You don't have to do anything. Just omit the evolve.json file.

[2017-12-15 15:13] Lindvorn opened #28 "MSBuild task fails if path contains parentheses"
Greetings!
First of all I want to thank you for this cool project.

In my project I use Evolve v.1.7.0 for net.core and net451, Jenkins to build the application.
Problem occurs when path to the project contains "(" or ")".
[Here ](https://connect.microsoft.com/VisualStudio/feedback/details/713690/msbuild-4-0-usingtask-cannot-have-a-path-with-parentheses) is the error reported to msBuild.
Seems lik

[2017-12-16 14:26] jbright opened #29 "Feature request: scoping migrations"
Relatively common scenario is that multiple systems or services might share a primary transactional database. Multiple setup programs (or deployments) can set `MustEraseOnValidationError = false`, but you loose some functionality.

Ideally, there'd be an optional parameter for "scope" or "namespace" so that multiple installations can use the same migrations table store for tracking, but be isolate

[2017-12-16 14:59] lecaillon commented on #29
Thanks for the feedback @jbright !
Actually I want to keep the whole thing dead simple, and the `MetadataTableName` parameter is exactly there for it, like you guess. I hope I don't miss your point and if I see people feel the need for such a feature I will change my mind :)

[2017-12-23 17:45] shankarganiger commented on #27
If I do that, I am getting an error as"evolve configuration not found"

On Wed, Dec 13, 2017 at 5:00 PM, Philippe Lécaillon <
notifications@github.com> wrote:

--
Thanks and Regards,
Shankar Ganiger
9739069305

[2018-01-08 08:52] mhelleborg opened #30 "Support loading scripts from embedded resources"
Add support for using scripts directly as embedded resources.
This simplifies some use cases and makes sure the script can be referenced the same way in all environments.

[2018-01-08 08:55] mhelleborg opened #31 "Normalize line endings when calculating checksums"
This can be an issue when the project is being built on different systems. The same issue in flyway is detailed in [issue 253](https://github.com/flyway/flyway/issues/253)

[2018-01-09 15:27] BogdanI-FintechOS opened #33 "Config-option "EnableClusterMode" missing from docs"
Takes a RDBMS-level session-bound Evolve-specific application/advisory lock on the database before making any changes. This prevents two distinct Evolve executions from executing an Evolve command on the same database at the same time.

[2018-01-10 14:12] #33 closed

[2018-01-10 14:12] #26 closed

[2018-01-10 19:24] #29 closed

[2018-02-12 17:06] jcaudill opened #34 "Support Repeatable Migrations"
Add support for repeatable migrations.  This will allow better support of databases that contain a lot of logic stored in the database.  These database objects are best supported by a state-driven engineering workflow.  For example, views, procedures, functions etc.

Having this feature will better support this workflow and greatly reduce challenges faced with wanting to use a migration-driven ver

[2018-02-14 22:28] lecaillon commented on #34
Hi, thanks for the feedback. That's a feature I certainly want to implement soon. I'm releasing a 1.8.0 this week or so. I could think about it in the 1.9.0

[2018-02-14 22:30] #27 closed

[2018-02-18 08:43] lecaillon commented on #22
Hi,
This message acts as a trace when Evolve does not run at build time.
Something like, *everything is ok, you just don't want Evolve to start at build time*.
So what about this one ?

[2018-02-18 09:36] lecaillon commented on #28
Thank you, your link seems not to work anymore. I used this [one](https://stackoverflow.com/questions/17070743/msbuild-inline-task-reference-is-escaping-parenthesis-sometimes) instead.

[2018-02-18 10:12] zimmi commented on #22
That's also good, thanks!

[2018-02-18 10:19] #28 closed

[2018-02-18 10:20] #22 closed

[2018-02-18 21:04] lecaillon commented on #25
In Evolve **1.8.0**, added a new optional configuration parameter: `Evolve.CommandTimeout` to set the wait time before terminating the attempt to execute a migration and generating an error. (The default is 30 seconds.)

[2018-02-18 21:09] #25 closed

[2018-02-19 09:56] lecaillon commented on #31
I totally agree. Thank's again for the feedback. However I would have applied the new checksum strategy by default to all migrations, and in case of failure, calculate it the old way. This way it simplifies the code and avoid the creation of a new configuration variable like: NormalizeLineEndingsForChecksum

[2018-02-19 09:56] lecaillon commented on #30
Hi, I don't have feedback where have files in a script folder is a problem either on Windows or Linux. More over hide the scripts in the assembly goes against the simplicity and the transparency goal of Evolve IMO.

[2018-02-19 21:40] #31 closed

[2018-02-21 20:46] alexpantyukhin opened #35 "Is it possible to get connection string from connectionStrings section?"
We have the connection string in the `connectionStrings` section and it us subtited from env to env. Is there possibility just say something:
[code]

[2018-02-21 20:56] lecaillon commented on #35
Yes it is, exactly like you suggest. [see](https://github.com/lecaillon/Evolve/wiki/Configuration#options)

[2018-02-21 20:58] alexpantyukhin commented on #35
Thank you very much!

[2018-02-21 21:02] #35 closed

[2018-02-22 20:36] lecaillon commented on #22
@zimmi Changed my mind again ;)

[2018-02-23 09:46] zimmi commented on #22
Haha, writing good error messages is at least as hard as naming things. :+1:

[2018-02-23 12:19] Sneezor opened #36 "Support to drop temporal tables in MSSQL Server"
Temporal tables follow a similar structure (period for date tange declared as row start/end), and they are not dropped automatically when performing a new migration. They return the actual error, which reads as follows:

I haven't found a way to do so manually through scripts (please let me know if I'm mistaken, I haven't found any in the docs), so it would be great if you could could perform thes

[2018-02-23 19:01] lecaillon commented on #36
Hi,
Thanks for the feedback 👍
Evolve will support SQL Server temporal table in the next release: 1.8.0

Coming soon ;)

[2018-02-23 20:10] #36 closed

[2018-02-23 22:21] lecaillon opened #37 "Add Evolve MSBuild mode support for MySqlConnector"
https://mysql-net.github.io/MySqlConnector/

[2018-02-23 22:24] #11 closed

[2018-02-23 22:24] #5 closed

[2018-03-14 20:32] pbrianmackey opened #38 "What is the minimum supported SQL version?"
Does this tool support SQL Server 2005?

[2018-03-14 21:18] lecaillon commented on #38
Sorry @pbrianmackey  SQL Server 2008 or later is required.

[2018-03-14 21:18] #38 closed

[2018-03-16 14:55] Pvlerick opened #39 "Cassandra support"
Have you ever considered supporting Cassandra?

The DataStax drivers (https://github.com/datastax/csharp-driver) do support some the ADO.NET interfaces (https://docs.datastax.com/en/developer/csharp-driver/3.4/features/components/adonet/ and https://github.com/datastax/csharp-driver/tree/78a1e81195875302ca288d054211e95053004ab9/src/Cassandra/Data) so it looks like it would be possible, but I'm not

[2018-03-19 16:11] Pvlerick commented on #39
I started working on a prototype: https://github.com/Pvlerick/Evolve/tree/issue-39-add-support-for-cassandra

It is a bit clunky because Cassandra's nomenclature doesn't map so well with SQL concepts, that I think that in the end it will hold.

[2018-03-19 16:37] lecaillon commented on #39
Hi @Pvlerick
First of all thank you for the interest and the work you put in Evole. 👍
I'm not familiiar with Cassandra. Is it a database which needs a schema migration tool ?
I'm not convinced by the interest of Evolve for that kind of nosql database.
Can you enlighten me please ?

[2018-03-19 18:14] Pvlerick commented on #39
Cassandra is a distributed, high availability and scalable database. It is considered NoSQL but it behaves in a similar way in many regards as a classical RDBMS, although it has quite a lot of limitations when it comes to features compared to classical RDBMS (that's the trade-off for being distributed and such).

It has its own query language: CQL (Cassandra Query Language) which is quite similar

[2018-03-19 21:17] lecaillon commented on #39
Thank you for the feedback. Appreciate it.
I thought the database schema was more or less managed in the app code with Cassandra.

So, I will be pleased to help you when I can in your effort to develop a Cassandra driver for Evolve.
And let's see where it leads us :)

[2018-03-20 22:04] lecaillon commented on #39
@Pvlerick For your information, I'm working on the **CassandraCSharpDriver** integration part in MsBuild / dotnet build. It's a tricky part in Evolve I'm starting to get used to.

You can concentrate on the "Cassandra database stuff"

[2018-03-21 08:40] Pvlerick commented on #39
@lecaillon Ok, cool! I'm progressing well, the dialect part is almost complete and I didn't encounter anything blocking yet.

[2018-03-21 16:06] Pvlerick commented on #39
@lecaillon I have the dialect working but I started to run into some limitations due to the Cassandra drivers, mainly:

- A script can only contain one statement, I didn't find a way to execute multiple statements in one file - obvious workaround is to have a file for each statement, not ideal to say the least;
- The drivers return a ```CqlBatchTransaction``` when ```BeginTransaction``` is called

[2018-03-21 19:46] lecaillon commented on #39
The Oracle driver acts exacty like this. It supports only one statement at a time (that's why I did not implement it until now). That is not the best case scenario for us :)
I see (at least) 2 options:
- Use the DatabaseHelper.BatchDelimiter property in the cql scripts. Evolve use this string to split one script into several statements. You can give it a try, but it's more a hack than a clean solu

[2018-03-22 09:01] jorgebay commented on #39
If I can give you some advice, I would stay away of the ADO.NET component of the driver and use the core API, that supports parallel execution, request pipelining, ...

[2018-03-22 09:05] Pvlerick commented on #39
@lecaillon I tried using the ```BatchDelimiter``` property, but it didn't work.
Extracting queries from the script is a possible solution, but I'm not sure implementing a parser on our own is a good idea: that's a lot of work and as you say there are tons of edge cases.
Maybe we could implement something simple and document limitations. From the top of my head, I would suggest something that split

[2018-03-22 09:23] Pvlerick commented on #39
@lecaillon for the second point, one way to solve this would be to be able to optionnaly remove the ```BeginTransaction```/Commit``` using a property on the ```Evolve``` class. I'll give it a try in another branch and see if this is sound.

[2018-03-22 09:34] lecaillon commented on #39
@Pvlerick Knowing that some drivers do not support transaction for DDL instructions, it can be an interresting option.

[2018-03-22 09:42] lecaillon commented on #39
@Pvlerick By the way, integration of the CassandraCSharpDriver is almost done. It should be easy to use in Evolve. That's a good news :)

[2018-03-22 09:45] Pvlerick commented on #39
@lecaillon ok, good news!

Here is the branch for optional transactions : https://github.com/Pvlerick/Evolve/commit/a65700696461fe782df8d2457c2c41c5f8abf794
Tests are all green, but since this is your code you can probably assess if that's sound, as I might have missed something. The diff is a bit messy, but I did a reformat in VS and it removed some trailing spaces all around :-)

[2018-03-22 09:47] lecaillon commented on #39
@Pvlerick Concerning the Query parser we can start with an naive implementation only activated for Cassandra migrations.

[2018-03-22 15:27] Pvlerick commented on #39
@lecaillon where would you put that implementation? In a subtype of MigrationScript?

[2018-03-22 17:03] lecaillon commented on #39
@Pvlerick Why not :) Something like a `ParsedMigrationScript` class ?
I'm going to create a specific branch on this one, for us to work on this.

I think the design (even naïve) must meet those 2 goals:
- Be able to go on with the old fashioned `MigrationScript` when the database driver does not need this feature. ie for all existing drivers excepting Cassandra and Oracle (one day maybe).
- Be abl

[2018-03-22 21:54] lecaillon commented on #39
@Pvlerick

### The proposal

#### SqlStatementBuilder

Introduce a new abstract class : `SqlStatementBuilder`, in charge of parsing the content of a `MigrationScript`. A builder is set on each specific `DatabaseHelper`. We use the `SimpleSqlStatementBuilder` on all existing databases, and the `CassandraSqlStatementBuilder` for the `CassandraDatabase`.
Each `SqlStatementBuilder` has to implement th

[2018-03-23 09:09] Pvlerick commented on #39
Reading the code (I made a few comments), I think this adds the flexibility needed to add what we need for Cassandra.

I will try to merge this in my current work (or rebase on top of it) to see if I can already use it.

[2018-03-23 10:18] gameldd opened #41 "Oracle database support"
Oracle release OPD.NET core driver, see this link:  http://www.oracle.com/technetwork/topics/dotnet/downloads/odpnetcorebeta-4077982.html , any plan to support Oracle database?

[2018-03-23 12:38] Pvlerick commented on #39
Good news: after implementing a ```CqlStatementBuilder``` and hacking the missing logic into the ```Evolve``` class, the migration test now works for Cassandra. It has the previously mentioned limitations, but I think these limitation are fairly reasonable.

Now, I noticed that using this strategy, we end up having multiple entries in the changelog table, manly because each migration script is div

[2018-03-23 13:29] Pvlerick commented on #39
Ok, in the meantime, I fixed the migration count issue on the ```Evolve``` class.

I think we now have all the pieces that we need to make this work :-)
I can probably add a bit more tests for Cassandra, but all in all it looks like we have a good starting point that I can start using at work.

[2018-03-23 13:53] lecaillon commented on #39
@Pvlerick
How do you see the next steps ?

[2018-03-23 14:03] Pvlerick commented on #39
@lecaillon if you implement your proposal in master, I should be able to rebase on it and cleanup the history in my branch then open PR.

[2018-03-23 15:34] Pvlerick commented on #39
@lecaillon no deadline, but the sooner the better, off course ;-)

I will already start the preparatory work on adding this to the build/deployment process.

[2018-03-25 21:05] lecaillon commented on #39
@Pvlerick Merged the new SQL query parser in master. Implementation done. Lack few tests.
Feel free to give me your feedback concerning the design, the naming, comments ...
I'm waiting for your PR.

[2018-03-26 03:28] indikaudagedara opened #43 "Rollback support"
It would be great to have a rollback feature so that the schema can be rolled back to a specific migration. The functionality could be similar to EF migrations rollback.

Here's the intended functionality:

Assume there are 4 migration scripts
1.1
1.2
1.3
1.4

When migrate command is executed with a specific version e.g. 1.3 all migrations greater than that will be rolled back by executing the cor

[2018-03-26 08:41] Pvlerick commented on #16
Our preferred choice at work would be to run Evolve at deployment time, which means that we either build our own tool or use a command line.

If you don't mine, I'll investigate this a little bit as it would be the preferred option :-)

[2018-03-26 09:39] lecaillon commented on #16
@Pvlerick Why don't use the MSBuild mode ? https://evolve-db.netlify.com/getting-started/#msbuild-mode

If you dont't want to execute Evolve during your dev let the Evolve.Command parameter empty in the evolve.json file. And set it in your CI. At the end of your build Evolve wioll then be executed automatically.

To activate this feature for Cassandra you have to update 3 classes you forget I thin

[2018-03-26 09:52] Pvlerick commented on #16
@lecaillon As far as I understood, MSBuild mode means that you do it once, at build time.

This means that if you build once but deploy many times (dev/test/prod), that model doesn't work. It also better to only have one way of doing things for all environments.

The issue we have with the in-app is that 1) all applications need to reference Evolve (which is only at tool, after all); 2) the app us

[2018-03-26 13:38] lecaillon commented on #16
@Pvlerick Waiting for your proposal ;)

[2018-03-28 09:05] Pvlerick opened #45 "CoreMicrosoftDataSqliteDriverForNet_NET_Core_2_0_works test is erratic"
It fails now and then with this message:

[code]

This is likely a orchestration issue in the tests, because it doesn't fail when run alone.

[2018-03-28 10:24] lecaillon commented on #45
Yep, I'm aware of this issue. That is why I decorated the test with this trait ;)
[code]

[2018-03-28 13:21] Pvlerick commented on #16
@lecaillon @izep @sartan

Here is an early draft: https://github.com/Pvlerick/Evolve/tree/issue-16-add-command-line-interface

Basically, it would work like this:
```evolve <engine> <connection-string> [options]```

So, you could do
```evolve mysql "Server=127.0.0.1;Port=3306;Database=my_database;Uid=root;Pwd=Password12!;" --location "C:\scripts\" --timeout 30```
Or, abreviated (thanks to https://

[2018-03-28 19:51] lecaillon commented on #16
- Evolve command should appear clearly: ```evolve <command> <engine> <connection-string> [options]```

The packaging part is quite vague for me at the time:
- Do we have to embed all the database drivers in the CLI ?
- Do we have one CLI for .NET and an other for .NET Core ?

I don't know that much il-repack. Not sure we can have a single .NET Core app (a la GO) without the need to have the framew

[2018-03-28 20:00] lecaillon commented on #43
@indikaudagedara Thanks for the feedback. Appreciate it.

I know EF, Flyway and others have that sort of feature. But I can not see a real use case for it. Can you give me an example please ?

[2018-03-28 22:44] indikaudagedara commented on #43
Thanks @lecaillon

The use case is actually to get the db back to a stable state after a faulty migration. E.g. migration `1.4` broke something (although got successfully applied) so need to revert back to `1.3`. I guess this could be achieved by rolling forward i.e. deploying a new `1.5` script to revert the changes in `1.4` but having a rollback feature would make it convenient for CI/CD. The st

[2018-03-29 08:09] Pvlerick commented on #16
I will move toward something like ```evolve cassandra migrate ...``` which is much easier to handle with the ```CommandLineParser``` library. If we want to reverse it to ```evolve migrate cassandra ...``` at the end of this work, we can do it but it'll mean more code. We'll see, it's not a hard or blocking task anyway.

For the packaging, my idea would be to generate a single .exe file if possible

[2018-03-29 12:49] Pvlerick commented on #16
Here is the current version: https://github.com/Pvlerick/Evolve/tree/issue-16-add-command-line-interface

It should work will all drivers now. It is a bit rough around the edges (wrong parameter values will quickly get you a stack trace in the stdout) but it works for what I have tested - admittedly, only Cassandra ;-)

At the moment, this is netcoreapp2.0 only; support for the full the framework

[2018-03-29 12:51] Pvlerick commented on #39
I guess this can be considered done for now, I'll open separate issues for the tweaks.

[2018-03-29 12:51] #39 closed

[2018-03-29 13:36] Pvlerick commented on #16
Ok, the CLI is now multi target: net452, netcoreapp1.1 and netcoreapp2.0; that was easier than I thought :-)

I'll look into the packaging options.

[2018-03-29 19:43] lecaillon opened #46 "Complete Cassandra documentation"
@Pvlerick

I started the Cassandra part of the documentation: https://evolve-db.netlify.com/requirements/cassandra/
Could you complete it with the relevant informations and limitations you observed please ?
The repo you have to use is located there: https://github.com/lecaillon/Evolve.Doc

Thanks :)

[2018-03-30 09:22] Pvlerick opened #48 "Cassandra: add locking to prevent concurrent migration execution"
All in the title. I'll add that ASAP.

[2018-03-30 09:23] Pvlerick opened #49 "Cassandra: support configuration of replication strategy when creating a Keyspace"
See Limitations in https://evolve-db.netlify.com/requirements/cassandra/

[2018-03-30 10:03] Pvlerick commented on #48
I'm a bit confused by the locking mechanism.
I don't find any use of the ```EnableClusterMode``` property and the ```Lock()``` methods on ```MetadataTable``` is only used in the tests.

I think it's a great feature, but the way it is implemented at the moment cannot be replicated in Cassandra since the fetch/release of the lock is done in a transactional manner. Locking in Cassandra would have bee

[2018-03-30 10:17] lecaillon commented on #48
`EnableClusterMode` is enabled by default and used to activate or not the locking mecanism: https://github.com/lecaillon/Evolve/blob/61c0e29fa826a496050af93181aaed9b2c1ae4c1/src/Evolve/Evolve.cs#L423

The `Lock()` function is never used. I think we can remove it. See the `DatabaseHelper.TryAcquireApplicationLock()` and the `DatabaseHelper.ReleaseApplicationLock()` to implement such a mecanism in C

[2018-03-30 11:41] Pvlerick commented on #48
OK. I'll start by removing the Lock function then.

I'll see if I can have a way to implement ```EnableClusterMode``` and ```ReleaseApplicationLock``` with Casssandra, but I'm not sure that will be possible at the database level. My initial idea was to insert a row in the log table used by Evolve to acquire the lock (so other processes will not run the migration if the lock is present in the table

[2018-03-30 11:47] lecaillon commented on #48
You don't have to do anything with `EnavleClusterMode` but more certainly with `DatabaseHelper.TryAcquireApplicationLock()` ;)

And if this function has to acquire a table level lock, I don't really see the problem.
Just be sure to release it in `DatabaseHelper.ReleaseApplicationLock()`  whatever happens.

[2018-03-30 13:06] Pvlerick commented on #48
My bad, I meant ```TryAcquireApplicationLock``` and not ```EnableClusterMode``` in my previous comment :-)

The issue is that these methods are defined on the database, which doesn't know about schema (keyspace in Cassandra) nor table names; it's not like in SQL engines where there is a global lock mechanism.
The best option I have now is to add the schema and table as parameters to both methods s

[2018-03-30 13:51] lecaillon commented on #48
You are right. So it seems to have at least 2 ways of locking the database:
- at a global level for all the actual relational databases Evolve supports
- and at a table level, say at a "metadatable" level, for Cassandra and others i suppose

I know you can imagine a beautiful abstraction @Pvlerick  ;)

[2018-03-31 09:35] lecaillon commented on #48
For the design of the new locking strategy, as we face it, there are use cases where it makes sense to have that mecanism to the database and to the metadatatable level.
Finally I don't like the idea of passing around a ref of the `MetadataTable` to the `DatabaseHelper`. And hide the fact that sometimes we use table locking.
It's a bit strange to call a TryAcquireApplicationLock() method that in r

[2018-03-31 19:21] Pvlerick commented on #48
@lecaillon if I step back a little bit, the fundamental requirement is to avoid having two of the same Evolve migrations running at the same time. We define here "same Evolve migrations" by the fact that they use the same metadata table.

The way this is achieved (ignoring Cassandra) is to use the locking mechanism provided by the different RDBMS (except SQLite that doesn't support it, I don't kno

[2018-03-31 19:40] lecaillon commented on #48
Always interresting ;)

No, I mean use the TryAcquireApplicationLock AND the TryLock in the Evolve.cs WaitForApplicationLock() method.
Considering lock acquired, when both of the locking methods returned true.
For example in Cassandra TryAcquireApplicationLock () will always return true, and for SQLServer TryLock() will always return true too.

[2018-04-02 18:57] lecaillon commented on #48
@Pvlerick Enable table locking strategy, at: https://github.com/lecaillon/Evolve/commit/cf8128cd2326d9b736296d1638ecfdf7b68982f9

[2018-04-03 08:25] Pvlerick commented on #48
Ok, I'll try using what you included in the latest commits (https://github.com/lecaillon/Evolve/commit/cf8128cd2326d9b736296d1638ecfdf7b68982f9 and up).

I'm still wondering why we need to lock both at the application level and at the table level. Can't we just lock at the table level, conceptually, and use the advanced locking mechanisms of RDBMs that support is in there (such as ```SELECT GET_LO

[2018-04-03 08:26] lecaillon commented on #48
@Pvlerick
Finally table locking strategy works...
There is one limitation for databases that use table locking (ie: Cassandra): the schema creation is not protected by the lock. Because to lock a row in the metadatatable you have to create the schema before... So the Evolve.ManageSchemas() is outside the WaitForMetadataTableLock().
But because you you IF NOT EXISTS when you create keyspace it shou

[2018-04-03 08:37] lecaillon commented on #48
@Pvlerick

In fact only one strategy is defined by database. And I prefer the application level one when possible. Less prone to bug and more robust to my mind.

[2018-04-03 09:21] Pvlerick commented on #48
@lecaillon ah, I see, I didn't think of the scenario indeed; it is true that the application level lock ensures that the schema creation is protected. This would be an issue in the case of the first call to Evolve.

Regardless, the locking in Cassandra is now done, as soon as the master branch is stable I'll rebase on it and make a PR.

[2018-04-03 09:47] lecaillon commented on #48
@Pvlerick
I'll take care of the Travis error later today. It is on "my" Cassandra msbuild drivers tests. Don't waste your time. ;)

[2018-04-03 12:03] lecaillon commented on #48
@Pvlerick
I think the Travis test in error is due to a missing mandatory field when ou lock the table (perhaps description ...?)

[2018-04-03 13:56] #48 closed

[2018-04-04 14:17] Pvlerick opened #52 "Cassandra: default keyspace "system" is not always visible"
More reliably, it default keyspace should be any keyspace found in the ```system_schema.keyspaces``` which would be much more reliable.

[2018-04-04 18:41] #52 closed

[2018-04-04 18:55] jaketrent opened #54 "Feature request: support Secrets Manager"
I can't tell if you support this or not... can one use the Secrets Manager to store the `Evolve.ConnectionString`?

As in:
https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?tabs=visual-studio

That would be great if it did.  Initial testing leads to believe this is not yet supported.

For instance, this command adds the secret:

[code]

But when I run the app after removing `Evolve

[2018-04-06 20:35] gcelet commented on #54
I would love that feature too :)
I think right now it's not supported but i could be mistaken.
I manage to use Evolve and Secrets Manager if i put evolve configuration in appsettings.json directly and write some glue code to wire everything.
I made a quick gist to illustrate this idea here: https://gist.github.com/gcelet/ab12595ae5edfcddc3a092cc0f2cd006
Hope this help

Evolve is a great lib: thank

[2018-04-09 09:03] Pvlerick opened #56 "Cassandra: Add a cluster level lock to prevent any migration while the topology of the cluster is being modified"
Following a discussion with @doanduyhai, it appears that it is an extremely bad idea to make any schema changes while the topology of the cluster is being modified (more on this here: https://www.slideshare.net/doanduyhai/cassandra-nice-use-cases-and-worst-anti-patterns-no-sqlmatters-barcelona/44).

The best approach seems to create an applicative lock (implementing ```CassandraCluster.TryAcquireA

[2018-04-09 09:49] Pvlerick commented on #56
@doanduyhai ok, got it, thanks. One last question: any replication factor or consistency level advice on this?

[2018-04-09 09:54] doanduyhai commented on #56
Standard replication factor of 3 should be fine.

For operations on lock/unlock since you're using LightWeightTransaction, the only choice of Consistency Level is LOCAL_SERIAL or SERIAL

LOCAL_SERIAL allows your lock operation to survive a crash of a whole datacenter.
SERIAL allows your lock operation to span across the cluster because it requires strict majority of replica on all data centers

[2018-04-09 09:58] Pvlerick commented on #56
Ok. Now, I was under the impression that this lock would be for the whole cluster - I guess what we want is to block any structural change in any keyspace in the cluster when the topology changes, so we don't even need a ```keyspace_to_lock``` column but only one.

In short, this table will contain a single record when a topology change is in progress (so no migration should occur) and no record w

[2018-04-09 10:05] doanduyhai commented on #56
Yes correct. In this case to block schema change on the whole cluster, you need to use the consistency SERIAL instead of LOCAL_SERIAL for your LWT

[2018-04-11 13:14] adiefrat opened #58 "Running more than once the same script"
I'm running the script V1_1__CreateTestTable and then the script V1_2_InsertIntoTestTable. When I will run them again, it will fail because I already have the testTable in my db. When I run V1_2_InsertIntoTestTable script its running again even even though that in the changeLog table success = 1 and they both gets the same checksum value.
If I understand correctly whats written in the "Concepts" s

[2018-04-11 13:45] lecaillon commented on #58
Hi @adiefrat Thx for the feedback

If you want me to help you, you'll have to give a lot more details about your issue.
Because this test in Evolve checks that what you describe cannot happenned:
https://github.com/lecaillon/Evolve/blob/d6b7a1fd37e6db0f8db1806ba05c2a11a0c46265/test/Evolve.IntegrationTest.SQLServer/MigrationTest.cs#L51

So what version of Evolve do you use, what RDBMS and its versi

[2018-04-12 07:48] adiefrat commented on #58
Hey,
I'm using Evolve 1.8.0 with MSSQL(SQLServer) and .NET Framework 4.7.1. I set the migrations names with
 <add key="Evolve.SqlMigrationSeparator" value="_" />
so the files names looks like this: V01_CreateTestTable, V02_InsertIntoTestTable.

This is the code I added to my Web.config:
    <add key="Evolve.ConnectionString" value="Server=.;Database=;Integrated Security=True;" />
    <add key="Evo

[2018-04-12 07:55] adiefrat opened #59 "A number of DBs at the same server on production"
I wanted to know if I could run the production on a different DBs(at the same server) dynamically and if so what do I need to change in the code so it will work?
Also, do I need to add the "In-app mode" code that was mention at the [getting started](https://evolve-db.netlify.com/getting-started/) section to my code? If so, where?

[2018-04-12 08:01] lecaillon commented on #58
Try using the default separator please. Or anything but _

[2018-04-12 09:03] adiefrat commented on #58
Tried that. Still the same.
![image](https://user-images.githubusercontent.com/17640098/38667200-7db1c97c-3e49-11e8-9eb0-670b8775979d.png)

[2018-04-12 09:28] lecaillon commented on #58
I see that the V02 script is executed multiple timples. But why not the V1 also ? strange.
Can you please change the
add key="Evolve.Command" value="migrate" to
add key="Evolve.Command" value="erase", execute and migrate again
And then test it again, because I see the sequence does not start to 1 (12 on your screenshot)

[2018-04-12 10:34] lecaillon commented on #58
If Evolve erases or drops  your schema there shoud not be any error (at least the first time you execute your scripts)

[2018-04-12 16:45] adiefrat commented on #58
So I created new database and it works.
One of the problems was that I didn't write the DB name in the Evolve connectionstring- solved.
The other problem is that if I have a table that belongs to "dbo" schema and was not created by Evolve, erase will not work with the next error:
" Cannot erase schema dbo. This schema was not empty when Evolve first started migrations."
But I want to run the migra

[2018-04-16 08:39] lecaillon commented on #58
Ok that is a good start :)
Using Evolve to automate sql migrations on an existing database is ok.
The only thing is Evolve cannot erase schemas it has not previously created. And it is perfectly fine. It is the desire behaviour because if the schema was not empty when Evolve first started, it will not be able to rebuild it if it erases it.
So have you still got a problem ?

[2018-04-16 10:06] adiefrat commented on #58
No.
Can you help me with issue #59 ?

[2018-04-16 12:34] #58 closed

[2018-04-19 08:01] lecaillon commented on #59
You have to change the connexion string between your env.
You can use environment variables to do so: #18

[2018-04-25 13:43] antgel commented on #59
@lecaillon Thanks for the interesting answer. We'd like to ask more questions based on our use case (several databases, one representing general metadata, and the others representing customers, each of which has the same schema - not the same schema as the metadata).

Related to MSBuild vs in-app. It seems from your answer, that we need to loop over all of our databases, which looks like something

[2018-05-02 17:43] ben-foster-cko opened #61 "depsFile required?"
I'm initialising Evolve like so:

[code]

Contents of `evolve.json`:

[code]

When running I get the following exception:

[code]

It looks like the correct constructor is being called and looking through the Evolve source I can't see why `depsFile` is required.

[2018-05-02 18:28] lecaillon commented on #61
Well... while it's possible to use this constructor from a .Net Core project, it was not meant to be used that way :) This constructor is dedicated to the MsBuild mode, not the in-app mode.
I should definitly change that in a future release.

So several solutions for you:
  - If you want to mix configuration by code and json file, provide a SqlConnection in the constructor (and a log delegate by t

[2018-05-03 16:32] ben-foster-cko commented on #61
That's fine. I would definitely avoid using optional parameters if they are not optional. Thanks for the help.

[2018-05-03 16:32] #61 closed

[2018-05-03 16:32] ben-foster-cko opened #62 "Evolve + Octopus"
Do you have any guidance on how to integrate Evolve with Octopus. It's likely that our migrations would be run as a standalone application and since there is no command line tool (yet), I'm curious how you would recommend doing this.

Also, is it possible to disable the MS Build task?

[2018-05-07 15:48] adiefrat opened #63 "CREATE DATABASE in a migration"
Will appreciate the help with the next issue-
I'm working with .Net and trying to run the next migration (on MSBuild mode):
`EXEC sp_executesql N'CREATE DATABASE evolveshared'`

At the end of the build I'm getting the next error:
'EvolveException: Error executing script: V01__evolveSharedCreateDataBase.sql. CREATE DATABASE statement not allowed within multi-statement transaction. Sql query: EXEC s

[2018-05-08 08:15] adiefrat commented on #63
Thanks for your quick response!

[2018-05-08 17:58] lecaillon commented on #63
Ok, that's why it is not supported at all finally ^^ I remember now :) This statement dos not support transaction. And since Evolve always wraps migrations in a transaction, it fails. So while waiting for an evolution of Evolve (which could be possible when the new `SqlStatementBuilderBase` will be released by the way), use `CREATE DATABASE` in your scripts is not possible at all. Sorry

[2018-05-09 07:27] antgel commented on #63
@lecaillon When you say "an evolution of Evolve", do you mean that this is something that will be supported at some point? If so, do you have a roadmap for this support? We might be able to support it on a professional basis.

[2018-05-09 17:06] lecaillon commented on #59
At first, MSBuild mode was more a *dev mode*. More over you will not be able to loop over your DBs.
You could have one project by database/customler but i'm sure it seems akward.

So, indeed the best option should be the in-app mode.
And if you want to run early, like you said, have a separate dedicated Evolve ConsoleApp that you run after a successfull build (in a MSBuild task of your main projec

[2018-05-09 17:36] lecaillon commented on #62
Ok, the easy question first :) To disable the MSBuild task:
- For .NET Core projects, do not add any `evolve.json` file in your solution.
- For .NET projects, do not add any Evolve.* keys in `<appSettings>` or let the `Evolve.Command` value empty.

I dont' know Octopus. But run you migrations in a standalone application seems fair. Do not use any configuration file. Use the **in-app mode** and pas

[2018-05-10 14:29] #59 closed

[2018-05-22 10:50] GeirGrusom commented on #30
My cases:

1. Embedded resources won't get confused by application shadowing or other such monkey business (we have an application that has made it exceptionally awkward to find file relative to the application).

2. Migrations scripts should not be altered by hand on-site, and embedded resources makes sure that doesn't happen without developer intervention.

Simply put I think it makes it easier

[2018-05-25 09:14] macgyver76 commented on #34
Any progress on this? :)

[2018-05-29 07:14] Pvlerick commented on #16
@antgel sorry for the late reply, I have been offline for the most part of the month :-)

There is [a branch for this in my fork of Evolve](https://github.com/pvlerick/Evolve/tree/issue-16-add-command-line-interface). It all works fine, but for the moment the generated tool carries all the drivers. As discussed here, we'd like this to go and specify the driver as on of the argument to the command

[2018-05-29 07:17] Pvlerick commented on #62
@ben-foster-cko you can have a look at #16 and the discussion there. It is only a prototype for the moment (I lack time right now) but it is functional and I hope I'll soon be able to add the missing pieces so that we can include this is the main branch.

[2018-05-29 10:54] antgel commented on #16
@Pvlerick Sounds like a good month. ;) Thanks for the update. We are still polishing our CI implementation, but will get to it soon, and we'll need to decide how to proceed. What will it take to get this polished and merged upstream? Specifying the driver doesn't sound like a big task (disclaimer: I'm aware it's not my time).

[2018-05-30 06:10] Pvlerick commented on #16
@antgel No, specifying the driver shouldn't be a big task, but some rework needs to be done in the parameters to the CLI since for some drivers you might want to have special parameters.

I should be able to have a bit more time to look at this at the end of the week and as of next week :-)

[2018-05-30 19:01] lecaillon commented on #16
Not much time for the moment either. But the release of the .NET Core 2.1 could be the occasion to have fun with the new .NET Core Tools :)

[2018-06-07 11:27] lecaillon opened #64 "Cassandra unit test projects fail with not enough replicas"
@Pvlerick

Trying to finalize the 1.9.0 version, I came with an exception building my Cassandra test package projects, that I didn't have before.

#### Evolve.Cassandra.AspNetCore20.Test

I think it comes from the locking strategy. All the other tests pass. I'm not too concerned about it.
Have you got any idea ?

[2018-06-07 13:18] Pvlerick commented on #64
Not right off the bat, but I'll take a look. What branch are you working in so I can check?

[2018-06-09 06:04] lecaillon commented on #16
Finally starting the CLI. As expected, the db driver part is a bit tricky:

### Option1

We use the driver assemblies of the targeted application (somehow like the Evolve MSBuild task is actually working). Below a *working on my machine example* of an app, targeted .NET Core:
[code]
Pay attention at the "2 not so obious args" **depsFile** and **nuget-package-dir** at the end ... Normally I inferre

[2018-06-09 22:59] #62 closed

[2018-06-09 23:09] lecaillon commented on #46
@Pvlerick Could you please add the documentation for the **evolve.cassandra.json** file ? It is not urgent since I want ideally to add the CLI and the repeatable migrations before releasing the 1.9.0. Thank you :)

[2018-06-09 23:18] lecaillon commented on #56
@Pvlerick Is this always an openned issue ?

[2018-06-10 07:44] lecaillon commented on #34
@jcaudill @macgyver76 Can you give me more insights on how you would like this feature to be designed ? What are your use cases ?

[2018-06-10 16:22] lecaillon opened #65 "Create a Cake Addin"

[2018-06-11 07:32] #56 closed

[2018-06-14 19:32] lecaillon commented on #34
@cfletcher How would you specifiy the order of the repeatable migrations ?

[2018-06-15 17:58] izep commented on #34
I've done this a few times, and it's always boiled down to 'by name'. In a few cases i've had repeatable objects that rely on other repeatable objects, so I've had to name things accordingly.

I like using this pattern for stored procs and views. I don't like having a lot of stored procs and views, but when I do, this is my preferred method. I've done it in flyway before, and their approach is rea

[2018-06-15 18:33] lecaillon commented on #34
Interresting insights @izep
So you advise me to reproduce the flyway behavior ?

[2018-06-15 21:20] cfletcher commented on #34
By name would be fine - that's the way roundhouse works.
I've never had more than 5/6 of these scripts and scripts haven't been order dependent.
If any data was constrained or dependent on other data that would live within the same script.

[2018-06-15 21:29] lecaillon commented on #34
Ok, one last question then. So repeatable scripts:
- begin with `R__`
- are ordered by name
- are executed at the end, after all the versionned migration sctripts
- _are executed every time Evolve is run or only when their checksum changes ?_

@cfletcher @izep @jcaudill @macgyver76

[2018-06-15 22:45] jcaudill commented on #34
that is the exactly what I’d like to see with the “Only when checksum changes” rule.

[2018-06-16 04:01] izep commented on #34
@lecaillon Yeah, I like what you have for the first three items. For the last question:
* are executed every time Evolve is run or only when their checksum changes ?
My vote would be only when checksum changes. However, for most of my use cases, I could probably live with either. I _assume_ that only running them when their checksum changes will be faster overall.

[2018-06-16 06:34] lecaillon commented on #34
So I would like to finish the #16 Evolve CLI before. But right after I will implement this feature as is and deployed a 1.9.0 version.

Thanks you all for the insights :)

[2018-06-16 12:38] cfletcher commented on #34
Either would work for me, scripts are written to delete + insert or merge.
Thanks!

[2018-06-21 12:50] rustamkulenov opened #66 "Can not run Evolve for MSSqlLocaldb"
I'm trying to run evolve for SQL Server Express [LocalDB](https://docs.microsoft.com/ru-ru/sql/database-engine/configure-windows/sql-server-2016-express-localdb?view=sql-server-2017).
My config file:
[code]
In msbuild mode I receive an error:

[code]

Is MS SQL Server Express LocalDB not supported or I'm doing something wrong?

[2018-06-21 20:04] rustamkulenov commented on #66
I've found the reason. This error happens because of this code in SQL migration. I removed it and now everything works as expected.
[code]

[2018-06-21 20:04] #66 closed

[2018-07-03 08:10] ekalaivan92 opened #67 ".Net Project clean error when using System.Data.SQLite to migrate"
## Description

On cleaning my Solution/Project getting this  Error `Unable to delete file "bin\Debug\x86\SQLite.Interop.dll". Access to the path 'xxxxx\bin\Debug\x86\SQLite.Interop.dll' is denied.`. This Error is occurred  When using `System.Data.SQLite` in our project for SQLite db support and configured `Evolve` to `Migrate` on `Build`.

## Problem

Project Type : `Windows Service`
Frame Work :

[2018-07-03 08:54] lecaillon commented on #67
Hi @ekalaivan92
Thanks to have taken the time to write such a clear issue. It does not appen all the times believe me :)

By the way, I already noted this issue with that driver. It seems to be link to the **.targets** file they use at build time. Look at the end of your csproj file:
[code]

There is a part where they copy the interop files at build time that cause the lock:
[code]

I  guess if yo

[2018-07-11 18:45] mcraa opened #68 "Unable to cast object of type 'System.SByte' to type 'System.Byte' on MySQL"
**Problem**
When i first run evolve.Migrate it fails after it creates the changelog table, then tries to
`Select id, type ... from changelog`
with the exception `Unable to cast object of type 'System.SByte' to type 'System.Byte'`

**Solution**
After i changed manually the type of the column `changelog.type` from `tinyint(4)` to `tinyint(4) unsigned` it works.

**Details**
using:
 - mysql 5.6.35
 -

[2018-07-13 11:49] ekalaivan92 commented on #67
hi @lecaillon
Thank you for the response.

Your suggestion works fine. Removing that last line resolves the issue.

[2018-07-13 11:49] #67 closed

[2018-07-17 23:18] frcandia commented on #68
Same error here.

[2018-07-18 10:55] antgel commented on #16
@lecaillon @Pvlerick Any updates on this? :)

[2018-07-18 14:32] jesseomega opened #69 "dotnet core 2.1 support"
My app needs to move to dotnet core 2.1, but getting the following error against Evolve 1.8.0 at the end of this note.

I've tried to work around this building it myself. I pulled down the latest master source targeting for 1.9.0-alpha, added NETCORE to the conditional compilation parameters under the Evolve project, and retargeted it to netcoreapp2.1. Added the following NuGet dependencies:
Micro

[2018-07-19 07:10] lecaillon commented on #68
Ok thx for the feedback. I will release a fix as soon as possible.

[2018-07-31 08:29] guy-lud opened #70 "Exception Using Postgres new Driver 4.0.x"
Hey,

I've tried using Evolve (which is great) with the new version of Prostgres version driver 4.0.x and i get an exception while trying to execute scan.l file with the statement `SHOW VARIABLES LIKE '%.

[2018-08-01 07:59] amiralgazi commented on #43
@lecaillon Is there any update related to this?

At the company I work for, I develop a .Net Core tool using Evolve, as part of our CI/CD project. It is going to be finished soon. Thus, a rollback feature is extremely important to us.

We could offer payment, if needed.

Please let me know what the plan is

[2018-08-01 13:19] amiralgazi opened #71 "Compile time error when database is missing"
Hi

I am using the Evolve library through 'In-App' mode with .Net Core .
I came across an issue in which there is a compile time error, when the database that was written in the connection string (within config json file) is missing.

Any idea why it happens?

Thanks in advance!

[2018-08-01 16:52] lecaillon commented on #70
Hi, it seems there are breaking changes around the new npgsql 4.0.
I must investigate how to make Evolve compatible with it.
Hope to find time soon and release something before end of august

[2018-08-01 17:00] lecaillon commented on #71
Hi,

Try to remove the `evolve.json` file. You don't need it since you use the 'In-App' mode.
If you want to keep it, the `Evolve.Command` parameter must be empty.

Keep me informed

[2018-08-02 07:31] guy-lud commented on #70
Thank you

[2018-08-06 13:44] antgel commented on #71
@amiralgazi 's colleague here, we removed it and it worked as you suggested. Thanks @lecaillon, feel free to close. :)

[2018-08-06 21:33] #71 closed

[2018-08-08 08:33] amiralgazi opened #72 "Best practice for using 'Evolve' among multiple developers"
Hi

I would like to ask a suggestion of best practice for using 'Evolve' among multiple developers with version control. i.e at the time several developers add SQL script file with the same name.
How should I deal with those occasions?

Thanks,

Amir

[2018-08-08 18:36] lecaillon commented on #72
Hi,

There is no silver bullet.
First you have to decide what is the Evolve version format the team will use accross your project.
I like to take the **[app version + a counter]**. If i'm working on version **2.1.0** of my app, my first migration script will be **V2_1_0_1__create_table_article.sql**
Then  everybody increment that number and if there is a conflict,  at least you will detect it earl

[2018-08-17 21:18] jesseomega commented on #69
MySql.Data 8.0.11

[2018-08-23 09:36] lecaillon commented on #69
Ok, nice. I'm on it too ;)
It seems the VisualStudio building part is still working, but the `dotnet build` part is not.
I reproduced your issue. Some `compileOnly` dependencies are not loaded by default anymore in NetCore2.1
I hope I have a fix soon this week or the next one.

[2018-08-23 20:08] jesseomega commented on #69
Mind checking out this pull request. I just put it against my fork so that you could review it. I haven't figured out how to run your test environment quite yet. I have docker installed, but I guess I haven't set it up correctly.

https://github.com/jesseomega/Evolve/pull/1

My thought is that the custom assembly loader you have, isn't pulling everything in as it should? Really at a loss. Migratio

[2018-08-24 04:58] jesseomega commented on #69
https://natemcmaster.com/blog/2017/11/11/msbuild-task-with-dependencies/

Looks like these msbuild tasks are particularly tricky to make happy. Any suggestions for a better long term strategy? You recommended creating a console app that uses the in app mode, runs the migrations and exits? It’s a shame this is so fragile, as I find the build time migrations triggered from the presence of the evolve

[2018-08-24 19:19] lecaillon commented on #69
Thanks for your efforts. Rest assured I totally understand what you mean by _losting some sleep_ understanding how to load assemblies in NetCore... The thing is clearly not _(enough?)_ documented.
And loading them from a MSBuild task is a nice challenge too ;)
Anyway I'm confident. I'm currently working on it too.
Most of the work concerns the class `CoreReflectionBasedDriverEx`. Where I did not d

[2018-08-25 01:11] lecaillon commented on #69
Well I was able to make SqlServer, SQLite, PostgreSQL and Cassandra work with NetCore 2.1 but still have an issue with MySql.Data driver... It works on Windows (Visual Studio + `dotnet build`) but not on Linux.

I'm pretty sure I load the assembly. In debug mode on Windows this is the case at least...
If you only build your projects on Windows you can test this [package](https://ci.appveyor.com/ap

[2018-08-25 04:43] jesseomega commented on #69
Had to set UseAffectedRows=false in the connection settings with MySqlConnector to act equivalently to MySql.Data.

[2018-08-26 23:31] lecaillon commented on #69
It seems I finally find a way to make the MySql.Data driver works in Evolve.
Anyway I will add support of the MySqlConnector too in the next release.

[2018-08-27 04:16] jesseomega commented on #69
I see that, thank you! I was testing out your 2.1 branch as you were making updates :) Look forward to the MySqlConnector support.

I've been trying to brute force in this missing library dependency, but there's something very strange about how System.Memory and its dependencies on System.Buffers and System.Runtime.CompilerServices.Unsafe are linked in. The System.RuntimeCompilerServices.Unsafe ap

[2018-08-27 17:55] lecaillon commented on #69
Addressed by #73

[2018-08-27 17:56] #69 closed

[2018-08-27 23:29] lecaillon commented on #37
@jesseomega

Here you have ;)

[2018-08-27 23:36] #37 closed

[2018-08-27 23:41] #72 closed

[2018-08-27 23:57] lecaillon commented on #70
Can you please give me some insights ? Is the example you gave me worked with the Npgsql 3.x ?
What do you try to achieve ?
What version of the .NET project do you run ?

[2018-08-28 06:29] guy-lud commented on #70
Hi @lecaillon ,
Yes the project works on Npgsql 3.x when upgrading t 4.X an exception is thrown with the message above.
I'll try top post the exact message ASAP. + the project is running on Core 2.1

[2018-08-29 16:07] lecaillon commented on #16
@antgel work in progress :)

[2018-08-29 22:45] lecaillon commented on #16
@antgel @izep @sartan @Pvlerick @Sacrelicious

A very alpha version of the Evolve CLI for .NET projects is available [here](https://ci.appveyor.com/api/buildjobs/97uadjy0k6i6hkbm/artifacts/dist%2FEvolve.exe).

#### Help:
`Evolve.exe --help`

#### Usage:
`Evolve.exe postgresql erase -c "Server=127.0.0.1;Port=5432;Database=my_database;User Id=postgres;Password=Password12!" -p C:\projets\Evolve\test\

[2018-08-30 14:56] ld0614 opened #76 "Migration scripts not found when using Azure App Service"
Configuration:
C# .Net 4.6.2
Azure SQL Server V12
Azure App Service

Migration Launcher:
[code]
SQL files have been written and are uploaded to the web server:

![image](https://user-images.githubusercontent.com/20439950/44859804-b81aa700-ac6c-11e8-997e-7dcc9ebf342e.png)

During start the following logs are provided
[code]

And a single blank changelog table has been created:
![image](https://user

[2018-08-30 15:13] lecaillon commented on #76
Hi @ld0614

Since the `changelog` table has been created, it means that Evolve is able to connect to your database.
Your migration scripts seem to be well named.
So I think it does not find any of your sql migration files.
Have you set the property `Copy to output directory` to `Copy always` on each of your sql file ?

[2018-08-30 15:34] ld0614 commented on #76
Hi @lecaillon, thanks for getting back so soon, the screenshot above is a view of the web server file structure showing the files on the web server.  The below screenshot if the file configuration.
![image](https://user-images.githubusercontent.com/20439950/44861539-a1764f00-ac70-11e8-95ab-87418cd6c15d.png)

The only thing I really stray from your example is in the code launch, in Global.asax.cs I

[2018-08-30 15:41] lecaillon commented on #76
ok, in fact Evolve searches migration files in the current app directory combine with the value of the `Location` parameter. Or in the `Location` parameter only if you have define a full path.
So in our case I see the `db` folder is next the `bin` folder.
Thus I would try:
[code]

[2018-08-30 16:13] ld0614 commented on #76
Thanks for all your assistance, after a few experiments I discovered that the working directory on an Azure App Service is fixed to D:\Windows\System32.  thus all uses of DirectoryInfo where branching off of there.  using ../db/migrations" didn't help either as this returned to the root of the D drive.  To fix I added the following code:
[code]

This maps to the correct root folder which can then

[2018-08-30 16:19] lecaillon commented on #76
Nice, i did not know.
I will think about a way of logging the location does not exist.

Can I change your title issue to something like: "Scripts not found in Azure App Service" ?

[2018-08-30 16:28] #76 closed

[2018-08-30 16:39] ld0614 commented on #30
I think this is a good option and would have avoided my issues in #76

[2018-08-31 13:18] ExtPro commented on #68
We got the same error.
When is the release of version 1.9.0 planned?

[2018-08-31 16:34] lecaillon commented on #68
Next week :)

[2018-08-31 16:44] lecaillon commented on #64
I'm back ;)
So, branch `add-command-line-interface`
Integration test: `Cli_Exe_Erase_And_Migrate_Cassandra()` for example.

Thx @Pvlerick

[2018-09-01 21:27] #68 closed

[2018-09-05 14:30] ahoka opened #80 "Add netstandard2.0 support"
I see that currently the nuget is only supporting netcoreapp2.0, but not netstandard2.0, which would be much better. Is there any explicit reason for this?

[2018-09-05 18:17] lecaillon commented on #80
To connect to the database, Evolve loads dynamically at build-time the database driver asssemblies of your application (Npgsql, Mysql.Data ... )
For .NET projects it uses `AppDomain` that is not supported by .NET Core projects (even if its in the netstandard2.0... https://github.com/dotnet/standard/issues/456).
For .NET Core projects it uses `CustomAssemblyLoader`, that is part of the netstandard1

[2018-09-10 12:07] kruglik-alexey opened #81 "Possibility to execute migration outside of transaction"
Some SQL commands can't be executed in the scope of transaction. E.g. psql `ALTER TYPE ...`. I suggest to add possibility to disable wrapping particular migration in the transaction. It can be configured via some flag in the migration file name, or via special comment inside the migration, e.g. `-- tx off`.

I'm ready to submit PR in case this changes are welcome and we agree on configuration opti

[2018-09-10 20:15] lecaillon commented on #80
You should be able to do it with the existing package. Try it and give me some feedback.
Make a package for this specific need is not easy to explain to others users. A package without all the features does not seem a good idea, without thinking about the additional work...

[2018-09-12 12:06] guy-lud commented on #70
Hey,
Took sometime, sorry about that.

This is the exception i am getting, does it help ?

Npgsql.PostgresException: 42601: syntax error at or near "LIKE"
  at Npgsql.NpgsqlConnector.<>c__DisplayClass161_0.<<ReadMessage>g__ReadMessageLong|0>d.MoveNext() in C:\projects\npgsql\src\Npgsql\NpgsqlConnector.cs:1012
  at Npgsql.NpgsqlConnector.<>c__DisplayClass161_0.<<ReadMessage>g__ReadMessageLong|0>d.M

[2018-09-14 11:44] shrayasr opened #83 "MSBuild task targeting postgresql fails in a netcoreapp2.1 project"
## Description

Evolve MSBuild task fails when targeting postgresql with the following error:

[code]

Project Type: `ASP .Net Core web app`
Framework: `.Net Core 2.1`
Evolve: `Evolve 1.8.0`
Driver: `Npgsql 4.0.3`
OS: `Windows 10`

## Steps to reproduce error

- Create a new **ASP .Net Core Web Application** project
- Choose **Web Application (Model-View-Controller)** in the wizard
- Add Evolve vi

[2018-09-14 17:12] lecaillon commented on #83
Thanks for your feedback. It is always a pleasure to know Evolve can be useful to somebody 😁
Very soon the version 1.9.0 will be released and should fix your issue.
Meanwhile you could try the alpha version which is very closed to the final.
https://ci.appveyor.com/api/buildjobs/gl5cnnvhpv8ip5ub/artifacts/dist%2FEvolve.1.9.0-alpha.nupkg

[2018-09-15 05:41] shrayasr commented on #83
Its important that we let maintainers know this. I'm sure y'all have bad days. Thanks again, Philippe 🙋

I will try this and get back 👍

[2018-09-18 11:48] megafinz commented on #81
@lecaillon any feedback on that?

[2018-09-24 09:46] jouana commented on #30
Hi everyboby,

It should be cool to have this feature.

We have a WPF application with SQLite, this feature should help us for many way.

Regards.

[2018-09-27 11:09] gsaadeh commented on #68
@lecaillon I appreciate your work on this awesome tool! Do you have any ETA for 1.9 release? I am running into this issue and cannot proceed any further. Thanks!

[2018-10-03 08:52] gsaadeh commented on #64
@lecaillon thanks for your hard work on this tool, any ETA for 1.9? I am planning to use it along side EF core and i know you fixed some bugs related to that already. Thanks

[2018-10-10 20:31] lecaillon commented on #83
The very soon moment is arrived... Feel free to try the Evolve 1.9.0. It should fix your issues

[2018-10-12 21:31] SteveMGits opened #85 "Long running MySQL DDL queries throw Rollback Exception"
With a long running query that modifies DDL, and the timeout is exceeded, the following exception is thrown:

Unhandled Exception: System.InvalidOperationException: Connection must be valid and open to rollback transaction

I suspect this is because MySQL cannot rollback these kinds of queries, or that simply the error closes the connection and the rollback can not be executed. Extending the timeo

[2018-10-15 19:22] ppator1 opened #86 "Evolve not running scripts"
Using:
- .NET Core Project
- Evolve 1.9.0
- PostgreSQL 10.5

Issue: Evolve not executing new scripts
I have setup Evolve according to the configuration page. The message is always the same when I build my project:
1>Executing Migrate...
1>Evolve initialized.
1>No metadata found.
1>Database is up to date. No migration needed.

The script I'm trying to execute is named "V1_1__1539630398_DDL_CreateTe

[2018-10-15 20:06] ppator1 commented on #86
It looks like I was able to resolve this. I moved my scripts into a folder in the root. Previously, I had them in the SolutionItems/DatabaseScripts folder which wasn't working. When I moved them to the root, added the schemas (didn't seem to work without them), and set the "Copy to Output Directory" property (set it to "Copy if new") it ran the script.

[2018-10-15 20:09] #86 closed

[2018-10-21 16:49] lecaillon opened #87 "Remove .NET 3.5 support"
I plan to remove the .NET 3.5 support for Evolve 1.10.0
It is starting to become really hard to find a CI platform that ships with it, even Azure DevOps.
The last version supported it should be the 1.9.0.

Feel free to give me some feedback about it.

[2018-10-22 15:16] mfjerome commented on #80
Would also like Evolve to be Net Standard eventually. Here is a new guidance published my Microsoft: https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/cross-platform-targeting .

I am not sure how dynamic assembly loading is handled in Evolve, but if it might be of any help, we currently use [Steeltoe Connector](https://github.com/SteeltoeOSS/Connectors) which is a net standard com

[2018-10-22 17:32] lecaillon commented on #80
@mfjerome Thx for the Steeltoe link. I'm going to look at it.

[2018-11-04 15:01] lecaillon commented on #80
I checked the Steeltoe repo and I think they only provide a way to configure the database driver in a fancy way. It is what they call a connector. In the other hand, Evolve has to instanciate the right driver wihtout any reference to them. At build time it loads dynamically the databse driver assemblies of the application being built (.NET or NET Core) and it is the hard part not so netstandard-is

[2018-11-09 14:29] lecaillon commented on #87
Finally we keep the .NET 3.5 support :)

[2018-11-09 14:30] #87 closed

[2018-11-09 14:34] lecaillon commented on #64
@gsaadeh It is released by the way :)

[2018-11-09 14:35] lecaillon commented on #64
No more issues with the Evolve 2.0.0 version

[2018-11-09 14:35] #64 closed

[2018-11-09 14:36] lecaillon commented on #16
A full new standalone CLI will be relased alongside the Evolve 2.0.0 version

[2018-11-09 14:36] #16 closed

[2018-11-09 14:41] lecaillon commented on #83
I think the issue is fixed. If not feel free to open a new issue about it.

[2018-11-09 14:41] #83 closed

[2018-11-09 15:19] lecaillon opened #88 "Add PostgreSQL 11 support"
Evolve 1.9.0 does not support the `erase` command on a PostgreSQL 11 database, due to some breaking changes introduce in that version.

[2018-11-09 15:25] lecaillon opened #89 "Add SourceLink to the NuGet package"

[2018-11-09 15:28] lecaillon opened #90 "Add a standalone Evolve CLI for win-64 and linux-64"

[2018-11-12 08:54] lecaillon opened #91 "Move CI from Travis CI to Azure DevOps"
Before logging a new issue, please have a quick read through the [contribution guidlines](https://github.com/lecaillon/Evolve/blob/master/CONTRIBUTING.md).

[2018-11-12 10:44] guy-lud opened #92 "Let Evolve Run some custom bash or powershell script"
Hi,

I know that Evolve is mainly for DB migration, yet some times there is need to execute some code (via script or what ever) once as part of a migration.

I think it would be nice feature in Evolve.

WDYT ?

[2018-11-13 20:27] lecaillon opened #93 "Add Evolve.MSBuild NuGet package"
A new package that will add the `Evolve.MSBuild.targets` and the MSBuild task in order to run Evolve at build-time. This package includes the new CLI.

[2018-11-24 23:17] iainnicol commented on #90
I think it would be really convenient to package the new Evolve CLI as a .NET Core Global Tool. It would let us install with ``dotnet tool install -g Evolve.Cli``, and run with a simple ``evolve``.  This should work on Windows, Linux, and MacOS.

We could then add Evolve to the list at https://github.com/natemcmaster/dotnet-tools.

I'm about to open a pull request.  But unfortunately I just realis

[2018-11-25 09:46] lecaillon commented on #90
It could be a good idea indeed.
By the way I'm working on a big refactoring of Evolve. You can begin to see the code in the branch `evolve-2.0.0`
So do not lost your time with previsous unit tests. ;) This new version of Evolve changes a lot of things about it.

[2018-12-02 10:43] guy-lud commented on #70
The problem returns on version 1.9 :(

Npgsql.PostgresException: 42601: syntax error at or near "LIKE"
  at Npgsql.NpgsqlConnector.<>c__DisplayClass161_0.<<ReadMessage>g__ReadMessageLong|0>d.MoveNext() in C:\projects\npgsql\src\Npgsql\NpgsqlConnector.cs:1012
  at Npgsql.NpgsqlConnector.<>c__DisplayClass161_0.<<ReadMessage>g__ReadMessageLong|0>d.MoveNext() in C:\projects\npgsql\src\Npgsql\NpgsqlCon

[2018-12-02 22:41] lecaillon commented on #70
I do not reproduce this behavior. Can you give me a lot more info please.
Describe the platform, the database version, the migration script that fails and/or when it fails. Do you use Evolve at build time or directly in your code ? Is it every time you start Evolve ...

[2018-12-03 09:55] guy-lud commented on #70
Are you using the new Postgres Driver >= 4.0.0 ?

[2018-12-03 09:59] lecaillon commented on #70
Yes, in several projects

[2018-12-03 10:23] guy-lud commented on #70
I've created a new program with only this code
[code]

When starting the program i still get this exception,

the version of the database is 9.6.8 (linux both DB and Application)

[2018-12-03 10:35] guy-lud commented on #70
The Script folder is empty, this is while creating evolve version table IMO

[2018-12-03 12:55] lecaillon commented on #70
I do not reproduce your behavior testing exactly your snippet on Windows, .NET Core 2.1, with an empty PostgreSQL 9.6 (Docker image: 9.6-alpine)

Have you got by any chance an inner exception, because the one  you paste seems incomplete to me. Or can you test on Windows to see if you have the same behavior ?

[2018-12-03 13:16] guy-lud commented on #70
Looks like an inner exception that you are catching inside ?

![image](https://user-images.githubusercontent.com/10279653/49375915-4c822300-f70e-11e8-9532-2fb60a9d3ae0.png)

![image](https://user-images.githubusercontent.com/10279653/49375963-6de30f00-f70e-11e8-9563-a4272148007d.png)

[2018-12-03 13:32] guy-lud commented on #70
Ok i've got an idea,
Some how i am getting this exception
[code]

and by using Rider (not VS) is away of that and stopping my debugger.

[2018-12-04 09:36] lecaillon commented on #70
So it seems to be this request that causes the issue in your case ?

It is the only one in Evolve with the "LIKE" keyword I think, so it could explain the error message.
Can you execute it on you database to see if it works ?

[2018-12-04 10:13] guy-lud commented on #70
sql> SHOW VARIABLES LIKE '%version%'
[2018-12-04 12:01:29] [42601] ERROR: syntax error at or near "LIKE"
[2018-12-04 12:01:29] Position: 16

So yes .. this explains it, and Rider is throwing this exception at me even while an existing catch phrase.

So all is well in the land of evolve .. yet postgres logs are filled with "ERROR: syntax error at or near "LIKE"" :(

I think that Dapper is verifying

[2018-12-04 12:18] MikhailBondarchuk opened #95 "Set schema to searchPath for PostgresSQL"
_Postgres 10.5
.netcore 2.1
evolve 1.9_

**Steps to reproduce:**
1) use in-app mode
2) set schema 'test' to Evolve.Schemas
3) set schema 'test' to Evolve.MetadataTableSchema
4) set Evolve.Location and add scripts which create tables
5) run migration on empty database
6) tables created in public schema, but I expected they created in schema 'test'

[2018-12-04 12:38] macgyver76 commented on #34
@lecaillon , Shouldn't we extend this idea to run some repeatable (another set, e.g. `B_` like before) migrations **before** versioned migration scripts?

[2018-12-04 13:11] lecaillon commented on #95
Evolve will not inferred in the execution of your queries. So it is your responsibility to use the schema you want.
When you define `Evolve.Schemas`, you tell Evolve to create the schemas if they do not already exist. For eventually be able to erase them later with the **Erase** `Evolve.Command`. Evolve is _in charge_ of the schemas you listed. It is an optional paramter.
When you define `Evolve.M

[2018-12-04 13:50] MikhailBondarchuk commented on #95
This issue force me to add schema to search path in the connection string.
But I expect to use first schema from Schemas as default instead of 'public' same as MetadataTableSchema uses first schema as default.
This case will be very common.
You can add this logic with special config parameter, just for usability.

[2018-12-04 14:13] lecaillon commented on #95
It is not an issue. Evolve runs the scripts it finds in the locations with the connection you provide without change anything that does not concern it.
You must provide scripts which would have worked outside the Evolve context.
For example, if you only use Evolve in dev, because your DBA wants to execute them himself in prod, it must work in the same way.

[2018-12-04 14:40] MikhailBondarchuk commented on #95
My case another, I get schema name from config and I don't want use templates because DBA runs that scripts from console in some cases. He changes search path and uses tables without schema name. Anyway, thanks for reply.

[2018-12-04 16:19] lecaillon commented on #95
Ok, thx for your feedback

[2018-12-04 16:19] #95 closed

[2018-12-27 13:17] nicumaxian commented on #34
This feature is really missing. Any progress on this?

[2019-01-17 15:13] amiralgazi opened #96 "How to force old version sql script to run"
I've recently created a .Net Core project using Evolve In-App mode.
At the company I work for, we came across an issue in which several developers try to add their own script, but sometimes some scripts don't run, because of different upload times to git (when each developer finish to develop different feature).

Our scripts' name convention is:
    VSERIAL_ISODATE_TIME__SOME_USEFUL_NAME
For examp

[2019-01-17 16:15] lecaillon commented on #96
Yes by setting `OutOfOrder` to `true`
https://evolve-db.netlify.com/configuration/#options

[2019-01-17 16:58] amiralgazi commented on #96
@lecaillon Thanks for your help! this really helps

[2019-01-21 18:43] CaueArua commented on #30
This feature is exencial when you build an application that will run on client. If you expose the spl you have a major security breach.
Please implement this feature.

[2019-01-21 19:09] #96 closed

[2019-02-04 05:46] PratimNag opened #97 "Revisit the sp_releaseapplock for SQL Server connections"
Evolve migrate with SQL Server throws the following error during build and run time:

Cannot release the application lock (Database Principal: 'public', Resource: 'Evolve') because it is not currently held. Sql query: sp_releaseapplock Cannot release the application lock (Database Principal: 'public', Resource: 'Evolve') because it is not currently held.
   at Evolve.WrappedConnectionEx.Execute[T]

[2019-02-04 08:45] lecaillon commented on #97
Can you give me more insights please:
- what version of the framework do you use ?
- which mode of Evolve do you use (in-app or MSBuild mode) ?
- what are the migration scripts you execute, and is it happens always even when you run only one little migration (for testing) ?

More over, to fix your issue, if there is only one application that can executes Evolve at a time, (when there is not multip

[2019-02-08 08:10] modernist commented on #30
+1. I totally agree this is a useful feature. @lecaillon @mhelleborg if any help is needed to move this forward towards a release let me know, it's been almost a year since the PR was opened.

[2019-02-08 08:19] lecaillon commented on #30
Let me release the Evolve 2.0 vresion.
It's a major rework of Evolve to help simplify the overall design.
When it's finish it should let me a lot more time to add new feature like this one. Promess ;)

[2019-02-10 17:28] lecaillon commented on #46
@Pvlerick Any chance you can complete the documentation before I release Evolve 2.0 ?

[2019-02-10 17:36] lecaillon commented on #92
I don't know, not sure about it.
Can you give me a example, which can lead to a more precise need ?

[2019-02-11 22:05] lecaillon opened #98 "Write Evolve 2.0 new documentation"

[2019-02-11 22:39] PratimNag commented on #97
Here are the details:

* what version of the framework do you use ? - >Evolve 1.9.0 with .NET Core 2.1
* which mode of Evolve do you use (in-app or MSBuild mode) ? in-app
* what are the migration scripts you execute, and is it happens always even when you run only one little migration (for testing) ? -- Create dB, Create Table. Yes. It is happening always.

[2019-02-11 22:44] lecaillon commented on #97
Can you post your Create table migration script in order for me to reproduce the issue ? Because Evolve comes with a lot a tests and this simple test is obiously part of it.

FWI Create DB is not supported in Evolve. So do not try to execute a script with those DDL statements.
https://evolve-db.netlify.com/requirements/sqlserver/

[2019-02-12 19:17] lecaillon commented on #93
Addressed in #99

[2019-02-12 19:17] #93 closed

[2019-02-12 19:17] lecaillon commented on #91
Addressed in #99

[2019-02-12 19:17] #91 closed

[2019-02-12 19:17] lecaillon commented on #90
Addressed in #99

[2019-02-12 19:17] #90 closed

[2019-02-12 19:17] lecaillon commented on #89
Addressed in #99

[2019-02-12 19:17] #89 closed

[2019-02-12 19:18] lecaillon commented on #88
Addressed in #99

[2019-02-12 19:18] #88 closed

[2019-02-12 19:19] lecaillon commented on #80
Addressed in #99

[2019-02-12 19:19] #80 closed

[2019-02-16 08:06] #46 closed

[2019-02-17 08:43] #98 closed

[2019-02-17 08:46] lecaillon commented on #49
@Pvlerick you can reopen this issue if necessary

[2019-02-17 08:46] #49 closed

[2019-02-19 08:06] lecaillon commented on #30
@GeirGrusom @ld0614 @jouana @modernist @CaueArua

Actively working on it for the next release: Evolve 2.1.0
Thanks to @mhelleborg for its PR that helps me a lot.

I have to implement it in Evolve, but also in Evolve.MSBuild and the CLI.
Shoudn't be too long though.

### Usage

[code]

Feel free to give me your feedback

[2019-02-19 09:22] mhelleborg commented on #30
@lecaillon You could improve upon my original interface with a list of assembly / locations, instead of the single EmbeddedResourceContext. I think that would be better than overloading the file locations, and would support potentially loading scripts from multiple assemblies.  It also makes the interface contract less ambigous :)

[2019-02-19 11:04] lecaillon commented on #30
@mhelleborg You think in this case something like  `ResourceFilters` is more suitable than Locations ?
So you would have 2 new properties:
- EmbeddedResourceLocations
- EmbeddedResourceFilters

[2019-02-19 11:17] mhelleborg commented on #30
@lecaillon I was more thinking sending in a list of assemblies with a set of filters each. More or less a tuple of assembly and list of filters.

Alternatively, just let the user provide a lambda which returns an IEnumerable of migrations. Then they can be loaded from anywhere

[2019-02-19 12:12] lecaillon commented on #30
@mhelleborg  I need to find a structure easy to use via json or web.config/app.config files for Evolve.MSBuild or via command line options for Evolve.CLI
So 2 lists of strings separated by `;` seemed a good idea

[2019-02-19 16:58] lecaillon commented on #30
@mhelleborg I think I will going to keep the `EmbeddedResourceContext` to avoid confusion with the  EmbeddedResource**Locations** term used by file migration scripts. So:

* Assembly[] `EmbeddedResourceContext`: one or several relative or absolute pathes to assemblies to scan
* string[] `EmbeddedResourceFilters`: zero or multiple filters to apply when searching for embedded migration scripts

In E

[2019-02-19 19:42] mhelleborg commented on #30
@lecaillon I think I would prefer having a cleaner API, and maybe drop the functionality from the CLI. I think most of the value proposition for me is using Evolve from code, but other people might have other use cases :)

[2019-02-20 18:18] lecaillon commented on #30
Or...

- EmbeddedResourceAssemblies
- EmbeddedResourceFilters

;)

[2019-02-21 14:48] teddy108 opened #100 "Failed to parse PostgreSQL version on Debian based PostgreSQL containers"
Hi,
I've got the following issue when using Evolve 2.0 and PostgreSQL 10.5 that is run inside a docker container.
Migration fails with the following exception:
Database migration failed.System.FormatException: Input string was not in a correct format.
   at System.Number.StringToNumber(String str, NumberStyles options, NumberBuffer& number, NumberFormatInfo info, Boolean parseDecimal)
   at System

[2019-02-21 15:04] lecaillon commented on #100
Thanks for your feedback @teddy108
Your issue is really clear. You've done half the work for me. Appreciate it.

Obviously on all version of PostgreSQL I test this request returns something like `9.6.12`

Can you please tell me what return this statement on your database ?
[code]

[2019-02-21 17:21] teddy108 commented on #100
It gives 100005.

server_version_num is an integer according to the [docs](https://www.postgresql.org/docs/current/runtime-config-preset.html#GUC-SERVER-VERSION-NUM), whereas server_version is a string, so server_version_num might be more suitable for extracting the major and minor version.

And it seems the issue only affects the Debian based PostgreSQL containers.  In case of the Alpine based co

[2019-02-21 19:58] #30 closed

[2019-02-21 21:00] lecaillon commented on #97
No news, good news. If not, please re-open the issue

[2019-02-22 09:13] lecaillon commented on #100
The fix will be included in Evolve 2.1.0, released by the end of the week

[2019-02-22 14:26] tswiatowiec opened #103 "Windows 10 security policy blocks Evolve CLI"
Hello.
My windows blocks evolve CLI  from running. It’s probably because no info about the assembly is filled (publisher, etc).
I cannot change Windows Defender settings, it’s a corporate computer.
Any ideas ?
![4](https://user-images.githubusercontent.com/47893439/53248495-28ebca80-36b6-11e9-98d2-9ae9e6075673.png)

[2019-02-22 14:31] lecaillon commented on #103
@tswiatowiec  Thanks for your feedback. I don't know what are the policy about running exe in Windows 10. You can tell to your boss I think it's a bit awkward that a dev is not local admin of its computer ;)

Anyway I'm going to search a solution. If you have any idea, be my guest

[2019-02-22 14:37] tswiatowiec commented on #103
Ok, I fixed it :)
Right click on exe -> properties. There's a note saying "this file might be blocked..." and Unlock checkbox.
It worked. Thanks :)

[2019-02-22 14:39] lecaillon commented on #103
Anyway I think if I published the CLI with a valid certificate you wouldn't have to do this. I'll think about it.

[2019-02-22 14:39] #103 closed

[2019-02-23 09:28] #100 closed

[2019-02-23 19:51] lecaillon commented on #54
Hi,

Thanks for your feedback and sorry for my (very) late response :)

Since the version 2.0, Evolve ships in 3 parts:
- Evolve
- Evolve.MSBuild
- Evolve.CLI

The use of configuration files like evolve.json is only supported in Evolve.MSBuild.
On Windows the Evolve.MSBuild package adds a task executed at build time, that under the wood, runs the Evolve.CLI (evolve.exe) with the correct arguments.

[2019-02-23 20:08] lecaillon commented on #65
Not sure it is usefull since we have the CLI. If someone ask for it, I can reconsider

[2019-02-23 20:08] #65 closed

[2019-02-23 21:17] lecaillon commented on #34
**Question:**

In case of a modification inside a repeatable migration script, does the `Repair` command need to update its checksum accordingly, as it would have done for a standard migration ?
My opion is no, because the goal of the repeatable migrations is to be updated to be applied another time.
What's yours?

_A little reminder: **Repair**, updates checksums of previously applied migrations

[2019-03-02 12:42] kippm opened #104 "Use configuration file for the Evolve command line utility"
Hi,

is it possible to use a configuration file when using the Evolve command line utility instead of the command line options?

For the different environments I want to deploy to, I think it is cleaner to have different configuration files, than, for example, to generate different batch files with this different command line options for the different environments.

[2019-03-02 14:57] lecaillon commented on #104
Hi,

Thanks for your feedback.
Currently it is not possible to use a config file with the CLI.

Anyway, could you be more specific about your use case and the feature you would have wanted:
- how the CLI will know what config file to take ?
- is it always a file called `evolve.json` or a parameter in the commanline option, say `--config-file`
- in case there is some duplicate parameters defined by

[2019-03-02 16:26] kippm commented on #104
When we build our applications we normally have config files for the different environments. In this case something like evolve.dev.json, evolve.tst.json and evolve.prod.json. During the release, the environment that is chosen will decide which file to copy as the main one, e.g. copied to evolve.json. This is the file that will be used by the application. This way the deploy command is always the

[2019-03-05 12:05] GeirGrusom commented on #104
Couldn't you just pipe a text file into the CLI?

[2019-03-05 15:11] lecaillon commented on #104
@GeirGrusom Evolve currently uses this package to handle command line stuff: `McMaster.Extensions.CommandLineUtils`

This package exposes that feature to "import" args into the CLI: https://natemcmaster.github.io/CommandLineUtils/docs/response-file-parsing.html?tabs=using-attributes

Was that what you were talking about ?

[2019-03-08 13:22] GeirGrusom commented on #104
No. I haven't use the CLI before, but I assume that you can control pretty much everything from there. Instead of a configuration file you could write a script that performs commands, and if the CLI expects user input you can simply pipe that into the process.

It's kind of a big reason why CLI's are useful. Even the most interactive CLI tools can be automated without any support for it in the CLI

[2019-03-08 13:33] lecaillon commented on #104
thanks @GeirGrusom
I'm not very familiar with CLI in general. Your point is clear and it is the default behavior I've seen searching for examples.
I will keep that in mind when I'll implement that feature

thanks again

[2019-03-10 12:58] kippm commented on #104
@GeirGrusom I've tried to run evolve.exe @args.txt but it didn't seem to pick up the arguments in the file.
I was using the Windows exe btw.
Anyway, I think it is cleaner to work with a real configuration file. But that is just my preference.

[2019-03-19 23:52] oooolivierrrr opened #105 "Why there is a dependency upon .net 3.5 ?"
I fail to see why we need the 3.5 framework. I'd like to remove it.

[2019-03-20 10:30] lecaillon commented on #105
Evolve NuGet package comes with 3 versions of Evolve for 3 differents needs.

Supported "Frameworks"
    .NET 3.5+
    .NET 4.6.1+
    .NET Standard 2.0

If your application uses .NET Core, NuGet will automatically take the Evolve .NET Standard version for example.
So Evolve is not tied to .NET 3.5, but Evolve targets 3 differents framework. And one of these, is .NET 3.5 for people who can not mig

[2019-03-20 19:50] oooolivierrrr commented on #105
oui mais pour ceux qui veulent contribuer c’est un peu chiant.

for those who w nuts to contribute, it’s an hurdle

________________________________
From: Philippe Lécaillon <notifications@github.com>
Sent: Wednesday, March 20, 2019 06:31
To: lecaillon/Evolve
Cc: oooolivierrrr; Author
Subject: Re: [lecaillon/Evolve] Why there is a dependency upon .net 3.5 ? (#105)

Evolve NuGet package comes with

[2019-03-20 20:12] lecaillon commented on #105
duly noted :)

ps: you could just remove this target version of the framework, the time of your dev.

[2019-03-20 21:31] #105 closed

[2019-03-21 19:53] #54 closed

[2019-03-22 20:22] #34 closed

[2019-03-26 21:20] lecaillon commented on #104
@kippm I noticed the option is not activated in Evolve 2.2
I've just tested successfully in my current branch the command:
[code]
Too bad... It will be availlable in Evolve 2.3

By the way, 2 options are available to treat arguments in the response file:
- `ParseArgsAsSpaceSeparated`: Multiple arguments may appear on one line. Arguments are separate by spaces.
- `ParseArgsAsLineSeparated`: Each li

[2019-03-26 21:43] lecaillon commented on #104
It is worth noted that if a parameter is declared both in the command line arg and the response file an error is thrown. @kippm

[2019-03-29 17:59] lecaillon opened #108 "Add command info"
Prints the details about all the migrations. Display the content of the EvolveMetadata table.

[2019-03-30 22:33] #108 closed

[2019-03-31 08:38] kippm commented on #104
I looked at the examples and didn't like the way the Line separated look, because of the fact that the argument and value are not on the same line. So that would leave the space separated option. However, if there are many arguments, this will become unreadable.

[2019-03-31 09:29] lecaillon commented on #104
You can find an alpha version of Evolve 2.3 CLI there:
- [Windows](https://ci.appveyor.com/api/buildjobs/m54cxdt1kkfvqnwa/artifacts/dist%2Fevolve.exe)
- [Linux](https://lecaillon.visualstudio.com/8e869842-250f-4687-b649-e8429bf233e8/_apis/build/builds/236/artifacts?artifactName=dist&fileId=14D7CF3FD0BB29886274D2B85E82F32087F63ECEBD94094AD8A88797BD10C8A602&fileName=evolve&api-version=5.0-preview.3)

[2019-04-01 22:12] oooolivierrrr commented on #91
Just wondering, I've cloned the project on my azure devops repo and used the corresponding yaml for devops but i get a weird error :
/azure-pipelines.yml (Line: 2, Col: 12): Unexpected vmImage 'Hosted Ubuntu 1604'

I checked twice when creating the CI pipeline to use the 'Hosted Ubuntu 1604' as a build agent.

Any clue ?

[2019-04-03 09:44] jouana opened #110 "CLI Blocking on first build with evolve"
Hi,

We use Evolve with SQLite and when we make a first build Evolve create the database file and did his migration well, but don't leave his task.

 We must kill Evolve process to end up our first build, this make some issue with Jenkins and block our builds.

I will try to find some time to investigate this issue.

Btw thanks for the job done.

Regards,
Antoine

[2019-04-03 13:08] lecaillon commented on #110
Ok that is strange

[2019-04-05 04:49] jinhong- opened #111 "Expose DatabaseHelperFactory as an extensible interface"
Any plans to make it possible for third parties to add their own custom Database migration implementations? At the moment it is impossible to extend because DatabaseHelperFactory is a static class. If it is converted to an interface, this could be easily extended by third parties to add or customize their own Database migrations

[2019-04-05 05:04] jinhong- commented on #111
Check out PR #112

[2019-04-05 05:07] jinhong- commented on #111
Build failed because tests were not fixed. Let me know if this idea is okay with you. I will fix the tests as soon as i get my hands on a windows computer :)

[2019-04-05 07:56] lecaillon commented on #111
Hi @jinhong-
Before we talk technically, can you give me an example of what you try to achieve by that please ?
Which use cases do we address here ?

[2019-04-05 09:03] jinhong- commented on #111
There are 2 use cases
1. I was thinking of adding a new provider for another database. For eg, ArangoDB.
2. Also when attempting to use the migrations with CockroachDB, i encountered some errors which required me to modify/extend the PostgreSQL providers. At the moment there is no way to modify it without changing the source codes and then recompiling it

[2019-04-05 13:01] lecaillon commented on #111
Ok I understand. And indeed you cannot extend it that way, and it is because it is not meant for it.
However, I will be pleased to work with you on the support of ArangoDB and CockroachDB.
Would not it be better to add those databases and share it with the community, rather than develop a "personal" extension ?
I already go through this process for Cassandra. And it is now fully supported by Evolv

[2019-04-05 14:38] lecaillon commented on #111
@jinhong- If it wasn't clear enough, give it a try **together** if you want :)

[2019-04-06 08:53] kippm commented on #104
Works as expected. Definitely an improvement over specifying command line arguments.
However, my preference would still go to a line based config file, where the key and value are on one line.
For example
connection-string=Server=.;Database=Test;
location=D:\sql_scripts
...
...

This would definitely improve readability, in case your will be using more configuration settings.

[2019-04-06 09:33] lecaillon commented on #104
Great. This feature will be officially available in the next release as it improves the CLI and at the same time allows Evolve to continue to use the CLI args attribute validation, ordering and parsing capabilities of the `CommandLineUtils` package it lays on.

Thanks again for the feedback!

[2019-04-06 09:36] oooolivierrrr opened #113 "Trying to learn how you publish on Nuget"
By using a azure artifacts. I used the build definition you published (with a modification).

`pool:
  name: Hosted Ubuntu 1604`

I also added at the end.

`
- task: DotNetCoreCLI@2
  inputs:
    command: 'pack'
    configuration: 'release'
    packagesToPack: 'src/**/*.csproj'
    verbosityPack: 'detailed'

- task: DotNetCoreCLI@2
  inputs:
    command: 'push'
    nuGetFeedType: 'internal'
    pa

[2019-04-06 13:11] lecaillon commented on #113
The Evolve packages are manually published to Nuget. That's why you don't find them in the build. (By the way I just updated it with `pool: name: Hosted Ubuntu 1604`)

Next, I think you don't need the first task I see above. Because the build already pack everything in the `dist` folder

1. Concerning the MSBuild package, after adding a reference to it in your project, you should see that your csp

[2019-04-06 21:00] oooolivierrrr commented on #113
I am trying to publish on a private feed by using a build definition on Devops.

Up to now, I am able to publish everything on the private feed. But when I am trying to use it, it does not automatically set up the .csproj like your package on nuget does on its own.

When I use the private feed, the csproj has the correct reference but the PrivateAssets and IncludeAssets sections are missing. I add

[2019-04-07 09:10] lecaillon commented on #113
If you do not have those sections, it is like I said, because you do not use the official packages, that are already packed in the `dist` folder during the build. While I can understand that you want to publish on a private feed I do not, when you pack your own package... Use those already built in the `dist` folder, is the best option for you.
So remove your first VSTS task and update the second

[2019-04-07 18:55] oooolivierrrr commented on #113
I did add the pack command because I did not see the packages in the dist folder. I think the yaml produced for azure does not pack them.
I did that before I wrote my answer : I forgot to mention it.  Even without the pack command the azure_pipelines.yaml does not produce the nupkg.
I am trying to write an yaml which replicate the appveyor one because I think this one is calling the cake build whi

[2019-04-07 19:09] lecaillon commented on #113
You are right. Indeed the MSBuild package is Windows platform dependant and so can only be built in the Windows `AppVeyor` CI, not the Linux `VSTS` one. You can not build this package on Linux because it needs the Windows CLI.

But like I said before, you don't need the Evolve.MSBuild.Windows.x64 package to use Evolve. In your case I would only use the Evolve package with maybe the CLI to apply yo

[2019-04-07 19:46] oooolivierrrr commented on #113
I though the MSBuild package can be build on Linux since it supports .Net Core (or at least .NetStandard). Wrong assumption from my part : I'll dig some more on MSBuild projects.

You're right I can kickstart by using the Evolve package and the CLI in prod. This is probably what I'll do until I manage to build on azure.

MSBuild seems not necessary but I want migrations application to be an operat

[2019-04-07 19:47] oooolivierrrr commented on #113
That's why I want it so bad !

[2019-04-07 19:51] lecaillon commented on #113
Those few lines in a method called at the startup of your application, should be acceptable:
[code]

With that, using the CLI is not necessary. Just use Evolve in the code.

[2019-04-07 19:54] oooolivierrrr commented on #113
Going to follow this way. Thanks for your input.

[2019-04-07 19:54] #113 closed

[2019-04-08 02:38] jinhong- commented on #111
@lecaillon  It's quite clear to me. We could definitely work on this together and i am all for sharing these new database implementations.
There still remains the issue of speed of development/release. For eg, I need to develop this by the end of next week. To develop it within the same repository, it would have to adhere to the same release cycle as this repository. As an extension it could move

[2019-04-08 03:06] jinhong- commented on #111
On the note of CockroachDB, so far i managed to get it to work by using PostgreSQL provider since it is compatible on the protocol layer. There was one issue with the Metadata table with the id column being set to serial, since in postgres serial represents a 32bit number but in cockroach it represents a 64bit number. So far i managed to get away by setting a session variable before migration by c

[2019-04-08 03:24] lecaillon opened #114 "Add CockroachDB support"

[2019-04-08 03:25] lecaillon commented on #111
I've created a new issue for CockroachDB: [114](https://github.com/lecaillon/Evolve/issues/114)
Let this issue only be about Evolve extensibility, shall we ?

[2019-04-08 03:26] jinhong- commented on #111
Okay!

[2019-04-08 03:28] lecaillon opened #115 "Add CockroachDB support"
On the note of CockroachDB, so far i managed to get it to work by using PostgreSQL provider since it is compatible on the protocol layer. There was one issue with the Metadata table with the id column being set to serial, since in postgres serial represents a 32bit number but in cockroach it represents a 64bit number. So far i managed to get away by setting a session variable before migration by c

[2019-04-08 03:28] #114 closed

[2019-04-08 04:02] lecaillon commented on #115
@jinhong- It is a good news that CockroachDB is designed to be compatible with PostgreSQL. It will be less work on our side. But I think we have to create an independent Evolve driver, a new `CockroachDBDatabase`. It will be easier to implement its specificities.
I can quickly build a branch and share it with you. What do you think ?

Concerning the `id` column of the Metadata table, the [Cockroac

[2019-04-08 04:32] jinhong- commented on #115
Look at #116

[2019-04-08 04:35] jinhong- commented on #115
Works alright as far as i tested it. I made use of the sequence feature to generate the id instead. This allowed me to specify the datatype as well as the limiting the running number to Int32.Max. The drawback is the insertion performance with relation to CockroachDb but this isn't a problem considering we won't be doing anything more than a couple of inserts every now and then

[2019-04-08 04:52] lecaillon commented on #115
@jinhong- What about tests ?

Evolve use Docker (how original) to create a new database that it can use to run its integration tests. So you have to add a new dedicated `CockroachDBContainer` and `CockroachDBFixture` in the Evolve.Tests/Infrastructure folder. Don't forget to add a new Xunit `CollectionDefinition` at the end of the `TestContext` class and later define constants for your CockroachDB

[2019-04-08 05:11] jinhong- commented on #115
Will do. I don't always have access to a windows machine so doing that might be challenging. I will add those once i am able to

[2019-04-08 05:19] lecaillon commented on #115
If it is because the .NET target frameworks of the Evolve project. Remove them temporarily.
[code]

Otherwise I don't see what can prevent you to run those tests. FYI the Azure Pipelines build runs on a Linux VM.

[2019-04-08 05:23] lecaillon commented on #115
A tricky part of a new Evolve database provider is the `DatabaseHelper.TryAcquireApplicationLock` method implementation.
Evolve uses a session level lock to coordinate the migrations on multiple nodes. This prevents two distinct Evolve executions from executing a migration on the same database at the same time.

You should ensure this part is compatible with PostgreSQL.

[2019-04-08 05:32] lecaillon commented on #115
Finally you can update the Evolve.Cli project according to this new database support. It shouldn't be too much work. In my mind just add a new database option in the list.

[2019-04-08 16:43] jinhong- commented on #115
While running the tests, i was blocked by a couple of issues:
1. ```DatabaseHelper.TryAcquireApplicationLock``` indeed does not work since cockroachdb does not really honor the functions even though it did not throw back any errors
2. Looks like the system revolves around the ability to create and delete schemas. Cockroachdb however do not actually support the concepts of creating or deleting sche

[2019-04-08 21:11] lecaillon commented on #115
1. Like I said the idea of that function is to prevent execution of multiple migration at the same time. I found this [link](https://forum.cockroachlabs.com/t/alternatives-to-pg-advisory-locks/742) that could be inspiring for us.

2. I don't know Cockroach enought but if the schema concept does not exists, that's fine. We can implement an alternative. You should read the Evolve Cassandra code, bec

[2019-04-08 21:11] #104 closed

[2019-04-09 19:50] lecaillon commented on #115
Good idea ! I'm working on it

[2019-04-11 07:52] lecaillon commented on #115
@jinhong- I think I can have a version of Evolve that supports CockroachDB by the end of the week. It only still lacks of tests currently to be "releasable". But it's in good way.
There's only one issue left: how can we assure that one cannot run multiple Evolve migration at the same time. (For example as many times as you have application container, when you use Evolve in the startup of your app)

[2019-04-14 17:26] lecaillon opened #117 "Add high concurrency migration tests"

[2019-04-15 13:07] amiralgazi opened #118 "Starting the migration with a particular script"
Is there a possibility to start the migration process with a particular script?
Let's say we have 100 scripts. Can we start the migration, for example, from script No.92?
Note - changelog table contains nothing.

[2019-04-15 13:12] lecaillon commented on #118
I think you can use `Evolve.StartVersion` as the version used as starting point. See [configuration options](https://evolve-db.netlify.com/configuration/#options) for more information.

[2019-04-15 13:57] amiralgazi commented on #118
Thanks!

[2019-04-15 13:58] #118 closed

[2019-04-15 20:09] #111 closed

[2019-04-15 20:44] lecaillon commented on #111
I don't think Evolve should be extensible. It is composed of 3 parts (Evolve, MSBuild, and the CLI) that should change at the same time. More over The fact that is has one repository allow all databases to get new features at the same time. And extensions cannot guarantee any of it.

[2019-04-20 06:33] #115 closed

[2019-04-22 03:15] jinhong- commented on #115
Hi @lecaillon, been a busy few weeks for me.. In terms of locking, i think the way forward is to manually do locks.. The logic would work something like this:
1. Have a table containing locks, with a lock id, lock holder id and lock expiry
2. When `DatabaseHelper.TryAcquireApplicationLock` is called, lookup unique lockid and ensure lock is not held based on criteria that lock holder is empty or lo

[2019-04-25 10:04] jouana commented on #110
Hi, sorry for my late.

It's on Windows with EvolveTask in csproj.
When the db file doesn't exist for SQLite then Evolve create it and apply migrate but it doesn't display log and waiting for something.

I have sometime today, I'll try to fix it en push a PR

Regards

[2019-04-26 14:24] jouana commented on #110
Hi,

It take some time because it's hard to debug.
So in EvolveBoot (Task) a fork (Process) is done to execute Evolve cli, when no db file exist and SQlite create it then the executable freeze.

When we execute the cli or lib directly all done well

I think it's a problem form Process and output management or an issue with SQlite and managed resource.

I'll try to make some refactoring to use dire

[2019-04-26 15:32] lecaillon commented on #110
Thank you for the time you spend on this issue. I will try to take some time on this too and give you some feedback if there is any news.

[2019-04-28 02:01] IndikaUdagedara opened #119 "Migrating stored procedures"
Feature request
-----------------

Evolve works perfectly fine with migrating store procs e.g. Add `V123_1__ChangeSP1.sql` will alter the SP as long as the script has the appropriate `alter procedure` statement. However, __the challenge is with detecting changes during code-review/change tracking__, since `V123_1__ChangeSP1.sql` has to have the modified SP entirely and `git diff` won't be able to

[2019-04-28 18:52] lecaillon commented on #119
Thanks for the feedback !
I think you can just achieve your goal with the new feature called [repeatable migration](https://evolve-db.netlify.com/concepts/#repeatable-migration)
It will allow you to run at the end, all the migrations starting with `R__` that changed since their last execution. Ideal for views and stored procedures and... code review

[2019-05-02 07:05] petronij opened #120 "Evolve Cli wrong return code"
I used released version 2.2.0
and it still returns string and not 1 in case of any error

[2019-05-02 08:27] lecaillon commented on #120
Can you be more specific ? Is this issue linked to an already closed issue ?

[2019-05-02 09:19] petronij commented on #120
We use it in powershell  .\evolve migrate sqlserver -c "Server=$server;Database=$database;Integrated Security=SSPI;" -l $pathCommon

[2019-05-02 09:28] lecaillon commented on #120
Can you try with the [pre 2.3 version](https://ci.appveyor.com/api/buildjobs/xwlndjk85aa9730t/artifacts/dist%2Fevolve.exe) please and tell me if it fix the issue ? Thx

[2019-05-02 09:32] petronij commented on #120
yes it returns 1 on failure

[2019-05-02 09:51] lecaillon commented on #120
ok, I will officially release the fix in Evolve 2.3 by the end of next week.

[2019-05-02 10:03] #120 closed

[2019-05-19 13:28] kippm opened #121 "Strange behavior when the casing of the prefix is different than specified"
When a file starts with a lower case v, and when the prefix specified the upper case V, an error is raised when you run a migration. "Prefix V not found in sql name:...".

For me this file should be either ignored because the prefix is not a V, or the file should be accepted as a correct file. Now it is half half. It is included in the files to be used, but excluded, because the casing is incorrec

[2019-05-19 13:30] kippm opened #122 "Error returned from the CLI are too verbose"
I don't really like the fact the from the CLI the dot not error stack is shown. Maybe there is a reason for it, but this is not nice when it is presented to a none developer, like a DBA, that has to run the CLI. Just the real error should be displayed.

[2019-05-19 13:33] kippm opened #123 "The info function should be enhanced"
The info function that display info, should be enhanced. I would like it to look more like the one in flyway.
- Table should not break lines.
- Show info about files before the first record in the change log.
- Show pending files.

[2019-05-19 13:50] lecaillon commented on #123
I don't see what you mean in the first 2 points. Can you enlight me by giving me an example please

[2019-05-19 13:54] kippm commented on #123
1) You would have to increase the width of the command window, in order to see something that looks like a table, otherwise one "record" is split over two lines.

2) If I start a migration with V2.0, but my directory also contains V1.0 files, these are not shown with the info.

[2019-05-19 13:55] lecaillon commented on #121
Fair point. Not sure about the best option to choose. If anyone else has an opinion ?

[2019-05-19 13:57] lecaillon commented on #122
You mean just the _root_ exception message ?

[2019-05-19 13:59] kippm commented on #121
I have my files in a Visual Studio SQL project, under TFS control. If I by accident use the lower case v, when I create this file, changing the file name later with a V, this is changed and visible in the project, but the file on disc still has the lower case v, which is causing an issue when doing a migrate.

[2019-05-19 14:00] kippm commented on #122
Yes, the root exception. The really SQL exception, not the dot net exception. It is just easier to read.

[2019-05-19 14:02] lecaillon commented on #123
And what do you want to see for migration files you left aside by specifying a `StartVersion` option ?

[2019-05-19 14:04] lecaillon commented on #121
Same thing with git ;)

[2019-05-20 16:49] oliver-dungey opened #124 "Can't run evolve on Alpine Linux"
Love your software - I've been using Flyway for years and Evolve is perfect for my dotnet needs, thanks for sharing it with the world.

I am running Alpine Linux on my Docker containers and struggling to get Evolve to work due to dynamic linking problems. No problems on Fedora and other distros but Alpine uses `muscl` instead of `glibc` (see: https://stackoverflow.com/questions/37818831/is-there-a

[2019-05-21 10:11] oliver-dungey commented on #124
It looks like there is a target runtime for Alpine Linux named `linux-musl-x64`, found it here: https://docs.microsoft.com/en-us/dotnet/core/rid-catalog

Not managed to build Evolve with that yet but looks possible.

[2019-05-23 06:09] KonFr opened #125 "GetFileName in EmbeddedResourceMigrationLoader could be improved"
In this case even if file name contains dots file name is returned correctly:

        private string GetFileName(string resource)
        {
            Check.NotNullOrEmpty(resource, nameof(resource));

            if (resource.Split('.').Length < 2)
            {
                throw new EvolveConfigurationException(string.Format(InvalidEmbeddedResourceFormat, resource));
            }

[2019-05-24 08:57] kippm commented on #123
Maybe "before start".
It would also be helpful if you could show "out of order" files.

[2019-06-11 05:52] RazvanB opened #126 "Cannot connect to SQL SERVER server named like SERVER\INSTANCENAME"
When reading the evolve.json file the Evolve.MSBuild.CliArgsBuilder.Normalize will remove all the '\' character from the server name.

There must be a way to allow special characters like using \\\\

[2019-06-11 18:19] lecaillon commented on #126
@RazvanB an example of the value you want to use will help. thx

[2019-06-11 18:32] lecaillon commented on #119
@IndikaUdagedara I think I can close the issue. If you have any feedback concerning your point feel free to create a new one.

[2019-06-11 18:32] #119 closed

[2019-06-11 18:33] #117 closed

[2019-06-12 06:26] RazvanB commented on #126
For example RAZVAN\SQLSERVER2017DEV

[2019-06-18 09:16] 814549124 opened #127 "Cannot run evolve on powershell"
I want use evolve on powershell, but it not work!

[code]

[2019-06-18 09:29] lecaillon commented on #127
You don't give me enough insight, but anyway, if you want to use Evolve in a script use the [CLI](https://ci.appveyor.com/api/buildjobs/xwlndjk85aa9730t/artifacts/dist%2Fevolve.exe)

[2019-06-21 03:40] bchavez opened #128 "Erase on PostgreSQL with ltree extension"
I have:
* `CREATE EXTENSION plv8`
* `CREATE EXTENSION IF NOT EXISTS ltree`

in my PostgreSQL DB, but when I ask `Evolve` to `.Erase()`, I get the following error message:

[code]

I'm guessing there's something wrong with the erase procedure that is tied to `ltree` somehow.

This was tested on PostgreSQQL 10.7.1. I used the binaries found here:

https://www.nuget.org/packages/PostgreSql.Binaries.L

[2019-06-21 19:03] #127 closed

[2019-07-01 05:05] amiralgazi opened #129 "How to run migrations in parallel"
Hi

Is there any way to run Evolve migrations in parallel for many databases?

I have a for loop on my databases list for which I run the migrations.
It works fine when I run it synchronously, but when I try to run the migrations in parallel I get the following exception:

Evolve.EvolveSqlException: Cannot release the application lock (Database Principal: 'public', Resource: 'Evolve') because it i

[2019-07-01 19:03] lecaillon commented on #129
By default Evolve will use a session level lock to coordinate the migrations on multiple nodes. This prevents two distinct Evolve executions from executing an Evolve command on the same database at the same time.

If your migrations are executed on a single node you can safely desable this behavior:
[code]

[2019-07-02 08:36] amiralgazi commented on #129
@lecaillon Thanks for your reply,

I have done what you had suggested, and now I get this exception:

Evolve.EvolveSqlException: There is already an object named 'changelog' in the database. Sql query: CREATE TABLE [dbo].[changelog] ( id INT NOT NULL IDENTITY(1,1) PRIMARY KEY, type TINYINT, version... There is already an object named 'changelog' in the database. ---> System.Data.SqlClient.SqlExcep

[2019-07-02 08:54] lecaillon commented on #129
Evolve is not meant to run in parallel. It is not a use case it addresses normally. You can try of course but you will certainly face issues like it. All I can say is that you would have to create a new instance of Evolve for each database I guess.

The error you talk about concerns the Evolve metadata table needed in each database. It seems, it tries to create it multiple times in the same databa

[2019-07-02 10:24] amiralgazi commented on #129
I think I've already done these two advices

    public void RunMigrationOnAllDatabases()
    {
        IEnumerable<string> dbNames = FetchExistingDatabaseNames();
        foreach (string dbName in dbNames)
        {
            ProcessMigration(dbName);
        }
    }

    private void ProcessMigration(string dbName)
    {
        using (var connection = new SqlConnection(connectionString))

[2019-07-02 11:36] lecaillon commented on #129
So I guess it is not doable. Sorry. Again Evolve has not been developed with concurrency in mind.

A another solution could be to use the [Evolve CLI](https://evolve-db.netlify.com/cli/) instead. No thread safety implied, because it will be a separate process. But do you really need that degree of parallelization ...? Only you can answer this. ;)

[2019-07-04 06:17] amiralgazi commented on #129
I see.

We have a production server with more than 400 databases who should be updated to the same schema in each release. Every time we run the Evolve module it takes at least two hours until the process is done, so we wanted to find a way to make it faster.
By the way, I've seen that it takes more than an hour to run the API's function `Migrate()` (for the whole process of 400 databases), even i

[2019-07-09 13:02] teddy108 opened #130 "MongoDB support"
Hi,
do you have any plans to support Mongo?
Thank you

[2019-08-07 14:50] CaueArua opened #131 "Repeatable migration, re executing old version"
If I have the same application running on two machines and one is running an old version, all Repetitive migration will be executed, so all procedures will be outdated, is there any way to prevent this?

![errorEvolve](https://user-images.githubusercontent.com/11984240/62632835-83e24880-b909-11e9-9ce7-7360683539c8.png)

[2019-08-07 17:11] lecaillon commented on #131
Sorry, can't see any solution to your issue.

[2019-08-07 21:21] CaueArua commented on #131
You can ignore if any checksum matches, and set a flag to force upgrade to older version or not.

[2019-08-07 21:34] lecaillon commented on #131
I'm not confortable with the idea. The goal of Evolve is to keep migrations simple. Add an other flag to force a repeatable migration to reapeat itself seems not obvious at first.
All of it to ignore a migration and thus let an outdated application runs with a more recent database schema seems really risky for the overall stability.
In my opinion, it is not the concern of Evolve to deal with outda

[2019-08-10 18:39] #131 closed

[2019-09-05 11:16] majkinetor commented on #92
This would be great to have for multiple reasons.

There might be some specific things to do during the migration that are not easily done without a script and are easy enought to do in script without fireing up full blown programming language and IDE.

Examples:

- Export of existing data into some format before migration destroys it.
- Full or partial database backup and restore
- Sending migrat

[2019-09-08 10:04] IndikaUdagedara opened #132 "Evolve CLI as a dotnet global tool"
Any plans to publish Evolve CLI as a dotnet global tool ?

It was mentioned in issue #90 but can't find it as a global tool.

[2019-09-10 07:23] chrisandchris commented on #81
+1

We would also like to have that. Having issues with `CREATE EVENT SESSION` statements that can not run inside transactions. Also open to submit a pull-request.

[2019-09-16 14:21] petronij commented on #120
Hi ,  Is there an update on 2.3 version ?
I don’t see it there
https://github.com/lecaillon/Evolve/releases

From: Philippe Lécaillon <notifications@github.com>
Sent: Thursday, May 2, 2019 12:52 PM
To: lecaillon/Evolve <Evolve@noreply.github.com>
Cc: Alexey Gavryushenko <aga@scalepoint.com>; Author <author@noreply.github.com>
Subject: Re: [lecaillon/Evolve] Evolve Cli wrong return code (#120)

ok,

[2019-09-16 18:01] lecaillon commented on #120
Yes, sorry about it. A little lazy at the moment indeed ^^
I will push the version 2.3 when I will closed the issues in the current project.
Anyway all AppVeyor builds already include the fix and are stable. You can download the latest version of the CLI [there](https://ci.appveyor.com/project/lecaillon/evolve/build/artifacts)

[2019-09-29 15:54] lecaillon commented on #121
Ok, let's make it case insensible

[2019-09-29 19:00] #121 closed

[2019-09-30 19:53] #122 closed

[2019-09-30 23:32] #126 closed

[2019-10-01 07:37] lecaillon commented on #126
Changed the json parser, in Evolve 2.3 you can use `RAZVAN\\SQLSERVER2017DEV`

[2019-10-01 22:28] lecaillon commented on #128
Hard time reproducing your issue. I've just refactored the `Erase` command for PostgreSQL. Should be fine in Evolve 2.3
Feel free to give me feedback about it.

[2019-10-01 22:58] #128 closed

[2019-10-01 23:03] #125 closed

[2019-10-01 23:05] lecaillon commented on #125
Thanks for your proposal, but I prefer the way it is currently done.

[2019-10-02 12:15] lecaillon commented on #110
I don't reproduce the issue. I used this [sample](https://github.com/lecaillon/Evolve/tree/master/samples/AspNetCoreSample_MSBuild) which is closed to what you describe.

[2019-10-09 06:30] AndrewBoklashko opened #143 "Improve control over repeatable migrations execution order"
Hi and thanks a lot for a great tool!

We have an application which has a lot of business logic in database as stored procedures and functions. Repeatable migrations are extremely helpful on maintaining them. The problem appears when a few dependent procedures need to be changed.

For example, let's consider these scripts R__getOrder and R__applyOrderPricing and assume that the latter uses the for

[2019-10-11 16:10] lecaillon commented on #143
Hello, thank you for your feedback.

I'm not sure though to understand why you can not order your repeatable migrations with a number included in the name ? For example :
- R__100_getOrder
- R__110_applyOrderPricing

In my mind, add the support for some kind of directives in migrations, seems overkill for that requirement.

I would have think about directives in migration script for an issue like

[2019-10-28 09:57] oliver-dungey commented on #124
Ok, so it was a simple step to build it and it run's on Alpine very nicely: `dotnet build 'Evolve.Cli' --configuration Release --runtime linux-musl-x64`

Would be nice to have an official Alpine release from GitHub.

[2019-10-28 20:09] lecaillon commented on #124
Could you please explain why do you want to use an alpine release of Evolve ? I'm not really aware of those use cases.

[2019-10-28 20:10] #124 closed

[2019-10-28 20:12] lecaillon opened #144 "Add an Alpine release of Evolve.CLI"
Addresses #124

[2019-10-29 09:13] oliver-dungey commented on #124
@lecaillon The use case for Alpine Linux is:

- I'm building dotnet core Docker images to run on AWS
- Alpine Linux has the smallest footprint of all Linux images and has become very popular for this purpose
- I use Evolve for initialising the database and running migrations on Docker container startup as Amazon's RDS doesn't have any other mechanism for synchronized database initialisation (imagi

[2019-10-29 22:14] lecaillon commented on #124
Did you manage to generate a single binary, or you just used the result of the `dotnet build 'Evolve.Cli' --configuration Release --runtime linux-musl-x64` command ?

[2019-10-30 08:53] oliver-dungey commented on #124
@lecaillon I just `tar.gz` the build output as that is the easiest format to install on Docker containers. Here is the directory listing after the build - there are a couple of `.so` (shared object libraries) so you need a little bit more than the basic dll:
[code]
And this is my build script that I'm running on Ubuntu Agents in our Azure DevOps pipeline:
[code]

[2019-10-30 09:06] oliver-dungey commented on #124
@lecaillon An aside - some of my colleagues don't like the idea of the container startup race condition I am creating with this pattern i.e. 10 containers starting at the same time trying to create/migrate the database but it is a rock solid pattern as all the migration uses database level locking and creating the initial database is pretty much instant. Just for reference this is the sort of code

[2019-10-30 09:15] oliver-dungey commented on #124
@lecaillon Thanks for giving thought cycles to my use case, much appreciated. I really like the idea of a single binary although not sure if I can use as I am stuck on .NET 2.2 at the moment due to constraints in the applications I'm deploying. So in my Dockerfile I reference the Microsoft 2.2  base image:
[code]

[2019-10-30 09:20] lecaillon commented on #124
No problem, the runtime is included in the "package". It would be another asset available in the [releases](https://github.com/lecaillon/Evolve/releases/tag/2.3.0) page. At least it is the idea ^^

[2019-10-30 09:23] oliver-dungey commented on #124
@lecaillon that would be fantastic, and hopefully would get Evolve a bit more exposure in the Docker world.

[2019-10-30 09:24] lecaillon commented on #124
When I will have something (soon hopefully) I will use you to be my beta tester for that part ;)
Thx again Oliver

[2019-10-30 09:26] oliver-dungey commented on #124
@lecaillon cool, very happy to do that. Let me know if you need any further info.

[2019-10-30 09:29] lecaillon commented on #124
And by the way you never noticed the release section where the Evolve CLI is avalable for Windows and Linux as a single self contained binary. If no, I could perhaps make a more statement about it in the doc ...?

[2019-10-30 09:31] lecaillon commented on #124
And another (and last I hope ^^) question, could you confirmed that this [CLI](https://github.com/lecaillon/Evolve/releases/download/2.3.0/evolve_2.3.0_Linux-64bit.tar.gz) does not work in a Docker Alpine image. Thx

[2019-10-30 14:43] lecaillon opened #145 "Upgrade Evolve.CLI to .NET Core 3"

[2019-10-30 16:02] #145 closed

[2019-10-30 21:40] lecaillon commented on #124
I build Evolve.CLI with the `linux-musl-x64` RID and then use [wrap](https://github.com/dgiagio/warp) to produce the self-contained single binary you can find [here](https://lecaillon.visualstudio.com/8e869842-250f-4687-b649-e8429bf233e8/_apis/build/builds/410/artifacts?artifactName=dist&fileId=3BB731EA4F746A7B73B572C50AADA0BA06ADDB1A90E59D723940DE7720CE734302&fileName=evolve-musl&api-version=5.0-

[2019-10-31 09:04] oliver-dungey commented on #124
@lecaillon No problem, I will try and get to testing today and get back to you

[2019-10-31 10:55] lecaillon commented on #124
You said,

I remind you Evolve uses a session level lock to coordinate the migrations on multiple nodes. This prevents two distinct Evolve executions from executing an Evolve command on the same database at the same time. See [Configuration section](https://evolve-db.netlify.com/configuration/), option: `Evolve.EnableClusterMode`

So you don't have to manage it in your migrations (if I understood

[2019-10-31 20:30] #143 closed

[2019-10-31 20:31] #110 closed

[2019-11-01 11:06] oliver-dungey commented on #124
@lecaillon thanks, that's brilliant - I had totally missed that option and will use it. I was relying on your session locks but hadn't spotted I needed to enable it!

I hadn't noticed that the releases are a single binary as there wasn't an Alpine one to try. I just tried the Linux release on Fedora and it works great. I've also tried the `evolve-musl` binary from your link but something isn't wor

[2019-11-01 11:15] lecaillon commented on #124
Ok, I think wrap not working on Alpine release. I will try something else in order to produce a single file for Evolve Alpine.

Anyway, Evolve.EnableClusterMode is true by default, no need to specify it. I was just thinking that you were taking care of that part in each of your migration script. My bad.

[2019-11-01 11:38] lecaillon commented on #124
I use the new .NET Core 3 option `PublishSingleFile` instead of wrap. Here is the result you can try: [Evolve-CLI](https://lecaillon.visualstudio.com/8e869842-250f-4687-b649-e8429bf233e8/_apis/build/builds/412/artifacts?artifactName=dist&fileId=5C400EC9A37993E4A0F3862B27FD43984B8186C70CB8FB83ABB08C313F2693B902&fileName=Evolve.Cli&api-version=5.0-preview.3)

The advantages are it is an entirely sel

[2019-11-01 12:13] oliver-dungey commented on #124
I have just given the new 50MB file a quick basic startup test. It starts and has the appearance that it works but not quite as it dumped a core file on asking for the help:
[code]
I also compared the size of your single binary with the size of the multi file build I'm running:
[code]
So I suspect your build must very close to working. It was a while back that I put together my Docker build and I'

[2019-11-01 17:20] lecaillon commented on #124
Ok so not that simple to have the CLI running on Alpine.

Can you explain in detail when Evolve runs, what start it, when the app runs, what start it ? Not sure I cleary understood it yet :)

Can you give me too a dockerfile or at least an example that I can work on on my side that mimics your usage ?

Thx Oliver

[2019-11-01 18:02] lecaillon commented on #132
Good idea, thx. I will do it in the next versio of Evolve: 2.4

[2019-11-03 14:57] lecaillon opened #148 "Migrate package data from nuspec to csproj"

[2019-11-03 15:06] lecaillon commented on #132
@IndikaUdagedara Done! I release a 2.3.0 version there: https://www.nuget.org/packages/Evolve.Tool/
Run this command to install it:
[code]

[2019-11-03 15:06] #132 closed

[2019-11-03 21:52] lecaillon commented on #148
Cannot do that until the `net35` target framework is removed

[2019-11-03 21:52] #148 closed

[2019-11-03 22:23] lecaillon commented on #85
I couldn't reproduce your scenario. Hard to understand what happened exactly. And hard to think of a solution that works for all databases Evolve supports.
I would be happy to take a PR if you a something in mind.

Thanks for the feedback @SteveMGits

[2019-11-03 22:27] lecaillon commented on #81
I like the idea of a SQL comment at the very first line of a migration script. Something like:
[code]

What do you think ?

[2019-11-04 18:27] chrisandchris commented on #81
I think putting that option into the script is the wrong way. Because as of now, Evolve puts _all_ scripts into a single transaction and it's either _everything_ or _nothing_ succeeds. Having an option to disable transactions would mean that a set of scripts could succeed while some others may fail.

I think this should be a global option where it's either _all_ or _none_.

[2019-11-04 18:49] lecaillon commented on #81
@chrisandchris Evolve uses one transaction per migration script. Each time a script succeeds it is commited. So having the possiblity to disable transaction at script level allow the user to exclude from the transaction only the very few statements that do not support it.
Cf: https://github.com/lecaillon/Evolve/blob/7c1677c4b866d367b1a80e986420c27a81726ba1/src/Evolve/Evolve.cs#L374

[2019-11-05 12:00] lecaillon commented on #63
Addressed by #150

Evolve 2.4.0 will support SQL statements like `CREATE DATABASE` in special migrations that executes outside of a transaction. To use this feature add this comment in the first line of your migration script: `evolve-tx-off`.

[code]

[2019-11-05 19:36] #81 closed

[2019-11-05 19:36] #63 closed

[2019-11-06 07:18] lecaillon commented on #123
`evolve info` does not break line when the description of the migration is wide. Maybe your terminal does ?

[2019-11-06 22:57] lecaillon commented on #123
Also based on what you proposed:
- Display "before start" ignored migration could be usefull indeed. Maybe not persisted in the metadatable.
- Display pending migrations can be tricky, but the running one, why not ?
- Hide repeatable migrations from the output with a new option like `evolve info --hide-repeatable` ?
- Add migration elapsed time in the description of the migration (to avoid adding

[2019-11-07 09:56] oliver-dungey commented on #124
Sorry haven't had time to get together a nice set of working files for you yet but it's on my urgent list!

[2019-11-07 10:37] lecaillon commented on #124
Let's move to this issue #144 now :)

[2019-11-21 15:51] jaubin opened #155 "Evolve 2.3.x fails to insert migrations due to null value on installed_on"
Hi,

Platform :
- .Net Core 2.2.3
- Evolve 2.3.0
- SQL Server 2012/2016

Libs :
- System.Data.SqlClient 4.6.1
- Core.SqlServer 2.2.4

Steps to reproduce :
DO : create a project with some migrations on Evolve 2.2
DO : run the project
DO : upgrade Evolve to version 2.3
DO : run another migration
EXPECT : migration works fine
ACTUAL : migration fails with "Cannot insert the value NULL into column 'in

[2019-11-21 16:33] lecaillon commented on #155
Hi,

Below is the script of the table `changelog`. As you can see the column `installed_on` has a default value: `GETDATE()`. The insert statement does not provide any value for it, and moreover this part of the code hasn't changed between Evolve 2.2 and Evolve 2.3.

You should check the schema of your table `changelog` and see if it matches this:

[code]
Here is the class [SQLServerMetadataTable]

[2019-11-22 10:27] lecaillon commented on #155
Glad to hear it !

[2019-11-22 10:27] #155 closed

[2019-12-10 16:02] sam123evers commented on #129
Hi

I was getting the same error as @amiralgazi, which was solved by adding

`EnableClusterMode = false,`

as @lecaillon suggested.

Unfortunately, I have a new error which I cannot solve.

I believe my issue is that the naming convention/file lookup functionality is not working correctly.

I have two sample dbs set up for a test.  I modify one, do a schema compare, change the filename of the sche

[2019-12-10 18:23] lecaillon commented on #129
Run Evolve in parallel is not supported. When you use `EnableClusterMode = false` Evolve does not use a database lock so you can run an another instance of Evolve at the same time... but at your own risk.
Starting from now it is your responsability to ensure each instance of Evolve works on a different database with a different metadatable. Bottom line it is not recommanded.

For the error message

[2019-12-10 21:37] sam123evers commented on #129
@lecaillon

Thank you so much for your timely reply!  Unfortunately, after trying you suggestions I still get the same error message the second time I run the application.

### Evolve instance configuration:

[code]

### SQL Object Explorer view(after migration script has been run):

![SQL_Object_Explorer](https://user-images.githubusercontent.com/25334488/70570494-9ee7f200-1b61-11ea-8666-67cac72a

[2019-12-10 21:53] lecaillon commented on #129
Very strange. Have you made the test from scratch the second time ? At least delete the line 2 and 3 of the changelog.
And use a "standard" Evolve configuration if it suits you. Something like:
[code]

[2020-01-19 22:23] tehmantra opened #156 "Evolve fails if current schema is not set"
Hi,

First of all, thanks for creating Evolve, it has been able to solve SQL deployments, which have been a huge pain point for our company for many years!

### Platform:
* evolve.tool 2.3.0
* Microsoft SQL Server 2016

### Description:
In SQL Server, when using Windows Groups as a database user, it is possible to set the `DEFAULT_SCHEMA` to `NULL`
e.g.
[code]

When a member of this group logs int

[2020-01-20 14:57] gitblit opened #157 "Drop MySql schema fails on dependent schemas"
In the case where the database schema has evolved to be a little cross dependent (e.g. `A.Table1` has a foreign key reference to `B.Table`), you can not `DROP SCHEMA B` because it violates referential integrity.

Changing the database design is possible, but it's also possible to relax foreign key constraints on the `DROP`.  I note that foreign key constraints are relaxed on other destructive oper

[2020-01-20 17:55] lecaillon commented on #157
Thank you @gitblit for reporting this issue and for the associated PR

[2020-01-20 17:55] #157 closed

[2020-01-27 06:50] muthukrishnan32 opened #159 "Evolve Application Lock issue"
Hi Team,

I'm trying to deploy my code with DBMigration enabled, but after deployment in DEV server im getting the issue in the file attached. Kindly let me know how to fix this.

![Evolve Issue](https://user-images.githubusercontent.com/48045413/73155040-68f5d180-40ff-11ea-940d-833f12862c0d.png)

[2020-01-27 06:52] muthukrishnan32 commented on #159
Im using PostgreSQL database...

[2020-01-27 19:03] lecaillon commented on #159
Evolve uses a session level lock to coordinate the migrations on multiple nodes. This prevents two distinct Evolve executions from executing a migration on the same database at the same time.
So I see 2 reasons to the logs above:

- either Evolve is still running
- or these are the logs of other containers you may have started ?

[2020-02-01 11:31] olsh opened #160 "Dry Runs feature support"
Flyway has [Dry Runs](https://flywaydb.org/documentation/dryruns) feature.
It would be beneficial to have the feature in Evolve too.

[2020-02-01 12:50] lecaillon commented on #160
I'm currently working on a improved version of the `evolve info` command #123 where you can view the actual state of the database **and** determine migrations that need to be applied.
I think it is a first good step to a feature like the dry run.

[2020-02-09 09:29] #129 closed

[2020-02-09 09:31] lecaillon commented on #159
@muthukrishnan32 Any news ?

[2020-02-12 20:49] #123 closed

[2020-02-12 20:56] lecaillon opened #162 "Upgrade Evolve.CLI to .NET Core 3.1"

[2020-02-13 09:37] muthukrishnan32 commented on #159
Sorry for the late response...
Now I'm getting the same issue in Production server..
Also, the logs which you were seeing was the cloudwatch logs which I have implemented before and after evolve running...

[2020-02-13 12:33] muthukrishnan32 commented on #159
Added to the above comments, im getting this application lock issue only in DEV and production now...other environments like TEST01, AutoTest, Hardening and Staging its running fine without any issues..

[2020-02-13 12:34] muthukrishnan32 commented on #159
I'm using Evolve version 1.8.0...Could you please help me to get this resolve ??

[2020-02-13 12:39] lecaillon commented on #159
Could you use the latest version first please ?

[2020-02-13 13:04] muthukrishnan32 commented on #159
Sure...

[2020-02-13 14:26] lecaillon commented on #159
I re-read your first comment. And the message "Evolve cannot acquire lock" is normal when you have multiple instance of your application. As I said Evolve uses a session level lock to coordinate the migrations on multiple nodes. This prevents two distinct Evolve executions from executing a migration on the same database at the same time.
So while your migration runs in one container, the others wa

[2020-02-13 14:40] muthukrishnan32 commented on #159
So, upgrading the version will help me to get rid of this issue ?

[2020-02-13 14:41] lecaillon commented on #159
This is not an issue. It is the normal behavior

[2020-02-13 14:42] muthukrishnan32 commented on #159
But my scripts are not running because of this

[2020-02-13 14:42] muthukrishnan32 commented on #159
Its a kind of block...

[2020-02-13 14:46] muthukrishnan32 commented on #159
One more thing I need to inform you...As of now, we are using .NET Core project, in our service project inside that startup.cs file we have enabled the evolve dbmigration, so each and every hit from the application, this migration will get trigger. This is the right approach ??

[2020-02-13 15:07] lecaillon commented on #159
Yes, and if Evolve is already running elsewhere it will wait before continue, displaying every 5 seconds the famous : "Evolve cannot acquire lock". This behavior is normal.

Check this [sample](https://github.com/lecaillon/Evolve/tree/master/samples/AspNetCoreSample_Evolve)

[2020-02-13 15:16] muthukrishnan32 commented on #159
sure thanks...will check it...

[2020-02-13 22:41] #162 closed

[2020-02-14 18:23] muthukrishnan32 commented on #159
Hi,
I have upgraded the evolve version to 2.3.0. Also, except DEV in all the other environments i dint get this error. Please find the below screenshot.

![image](https://user-images.githubusercontent.com/48045413/74556871-f1d88e00-4f84-11ea-8849-6d8791148573.png)

[2020-02-14 21:25] lecaillon commented on #159
Sorry I have no idea. But if it works on some environments but not on others, it is due to something in the conf of your env/database I think.

[2020-02-15 14:48] lecaillon commented on #156
Hi @tehmantra  and thanks for your feedback. Always a pleasure to know Evolve is usefull somewhere for someone :)

[2020-02-15 20:35] lecaillon commented on #156
Fixed.
Evolve still needs to find one shema in order to create/locate the metadatatable via the `Evolve.Schemas ` option, the `Evolve.MetadataTableSchema` option or the datasource connection. Otherwise it will raises a proper `EvolveConfigurationException`.

[2020-02-15 20:37] #156 closed

[2020-02-17 21:57] lecaillon commented on #43
In your opinion, what should be the behavior of Evolve in this case ?

Assume there are 4 applied migrations: V1.1, V1.2, V1.3, V1.4
And only 1 undo migration: U1.3
Is it allowed to rollback to V1.2 without a U1.4 script?

Is it the responsability of the user to know what is ok or not, or Evolve should only accept to rollback to a version where all the undo migration a defined ?

[2020-02-17 23:20] IndikaUdagedara commented on #43
We found DB migration rollbacks is problematic (although it sounds a nice feature). We ended up with
- ensuring database changes are *always* backward compatible
- rolling forward i.e. instead of rolling back a previous one, create a new migration with

[2020-02-17 23:25] lecaillon commented on #43
Thanks for the feedback @IndikaUdagedara It is very interresting. Indeed I had already heard of that issue. I keep that in mind for that feature.

[2020-02-19 16:39] Bolt54 opened #171 "Placeholders not working"
I'm trying to run Evolve via the cli against a Postgres database with placeholders.  The placeholders were not setup with a prefix or suffix.  This works when running on startup from my WebAPI project, but I can't get to work from the cli.

[2020-02-19 16:50] Bolt54 commented on #171
evolve migrate postgresql --scripts-suffix .psql --placeholder-prefix "" --placeholder-suffix "" -c "…" -l "…" -p DbAppGroup:value -p DbMigrationUser:value

[2020-02-19 18:35] lecaillon commented on #171
Hi @Bolt54

I do not reproduce your issue on my database with the CLI and options --placeholder-prefix "" --placeholder-suffix ""
For testing purpose, maybe you can try using the default placeholder prefix and suffix.

Below the command I executed successfully:
[code]

And the migration script:
[code]

[2020-02-19 22:11] Corey91989 commented on #171
I'm also having issues with placeholders, although I'm not sure if it's related since my issue is on app startup.

We have 2 separate databases that some of our stored procedures use, so I just want to pass those 2 database names into the executing scripts. However, it doesn't seem to be replacing the placeholder values. I've tried specifying the placeholders both in the web.config (as shown in th

[2020-02-19 22:22] Corey91989 commented on #171
I'm also having issues with placeholders, although I'm not sure if it's related since my issue is on app startup.

We have 2 separate databases that some of our stored procedures use, so I just want to pass those 2 database names into the executing scripts. However, it doesn't seem to be replacing the placeholder values. I've tried specifying the placeholders both in the web.config (as shown in th

[2020-02-19 22:30] lecaillon commented on #171
You have to use the prefix and suffix in placeholder keys :
[code]

[2020-02-20 14:30] Bolt54 commented on #171
@lecaillon Thanks for the feedback I will try to better reproduce.

Requiring the prefix and suffix in the placeholder keys seems a bit confusing based on the documentation.  I was under the impression that the defaults ${, } would always be concatenated to the keys.

[2020-02-24 18:09] tehmantra commented on #156
Just confirmed this is fixed by 2.4.0. Many thanks.

[2020-02-28 12:35] lecaillon commented on #171
@Bolt54 Can I close the issue ?

[2020-02-28 13:31] Bolt54 commented on #171
Yes, I was able to get it work locally now.  Thanks for the assistance.

[2020-02-28 13:31] #171 closed

[2020-03-02 13:47] muthukrishnan32 commented on #159
Hi, After upgrading the version from 1.8.0 to 2.4.0, my application and scripts are running fine in Production. Thanks :)

[2020-03-02 18:52] #159 closed

[2020-03-09 23:42] Supratentorial opened #172 "Clarify documentation around passing arguments via response file to the CLI"
Hi,

I just had a suggestion around documentation around the CLI, specifically with regards to passing a response file.

If possible, under the [Examples](https://evolve-db.netlify.com/cli/#examples) subheading could we label the contents of the args.txt file to make it explicit.

Just adding a simple "Contents of args.txt:" I feel would be helpful.

Thanks

[2020-03-13 16:41] honzakuzel1989 opened #174 "Let Evolve migrate against flyway schema history table"
Hi,

I know that Evolve is only inspired by Flyway but some times there is need to migration against flyway schema history table (`flyway_schema_history`).

The table has almost the same structure like evolve `chanelog` only with small diferencies (e.g. checksum). It would be nice in Evolve especcialy in large systems with several technologies (like java+flyway and dotnet+evolve) when you have to

[2020-03-13 16:48] lecaillon commented on #174
LOL, never thought about this. Interesting though, but coupled Evolve to the table definition of another lib does not seem such a good idea. And the use case where several application could use the same database seems also like an anti pattern anyway. We should certainly stay inspired by Flyway and not go to far. But thanks for the idea @honzakuzel1989

[2020-03-15 09:27] upolishetty opened #175 "validation flag to check the scripts executions"
With the present scenario, the pending script will be executed sequentially and rollbacks only the failure script for any failures.

For production cases, it's not recommended to apply half of the changes in a DB. It's better to run all the scripts in validation mode once and check for any failures.

Added PR that contains an additional flag to run in validation mode.

https://github.com/lecaillon

[2020-03-15 11:37] lecaillon commented on #175
Hi, thanks for pointing out the Azure DevOps CI pipeline was failing. The agent image used does not install MySql by default anymore. Fixed.
For your proposition, I'm not sure this feature is a good idea.
First I hope the database migrations are not tested directly in production. So the use case you discribe should be very rare.
More over it is recommanded to maintain backwards compatibility betwe

[2020-03-15 13:41] upolishetty commented on #175
Hi,

Thanks for fixing the pipeline failure!
I accept that MySQL or Cockroach can not rollback, for both of these, we can mark override the flag value to false.
With the existing structure, For a DDL transaction failure will it rollback for Mysql or cockroach?

Also, the database migrations are not directly executed on the production. There might be a chance( not 100%) that script execution might

[2020-03-18 05:58] upolishetty commented on #175
@lecaillon  Is there any update related to this?

[2020-03-19 16:55] honzakuzel1989 commented on #174
It is really so funny idea? :) You said coupled. I did not thinking about coupling! I thought about posibility (e.g. through configuration). Something ling migration policy or migration table schema.

As I said. The `changelog` table is almost the same like in `flyway`. Only `checksum` is different but known. Why did you use a different table? Just asking.

But I agree with you about  use case whe

[2020-03-19 20:28] awoods187 commented on #175
PM at CockroachDB here. We recommend not running DDL inside transactions to avoid these complications. We also encourage migration tools to add retry loops throughout their code to account for retries from our serializable isolation mode as well as those caused from distributed nodes

[2020-03-20 09:10] mbogi commented on #175
I agree with @awoods187  and what I would recommend is to have a validation flag to test the complete sql files in a transaction. And its users call on whether to use it or not.

Let me know if you want us to make changes and raise pull request, we can do that.

Thanks,
-Mahender

[2020-03-20 09:32] lecaillon commented on #174
When I said coupled, I mean I do not think to share the same schema that flyway is a good idea. If they decide to change anything, it will break evolve. More over it would'nt be the only change to do. To ensure that multiple migrations cannot appened at the same time, we have a locking mecanism that should be synchronized between the 2 lib, the computed checksum too ...
Maintain and test this kind

[2020-03-24 14:03] honzakuzel1989 commented on #174
Ok, I understand. Thank You for answers.

[2020-03-24 18:11] #174 closed

[2020-04-08 17:22] danhaywood opened #176 "Can there be one changelog metadata table per schema?"
Thanks for this project ... as a happy flyway user, I'm hopeful this will scratch the same itch for .NET apps.

I see that - like flyway - a single changelog metadata table can be used to service multiple schemas.

But flyway also has the ability for mulitple changelog metadata tables, one per schema, in other words each independent of the next.

Is this a feature that evolve also supports?

Many

[2020-04-10 07:16] danhaywood commented on #176
To answer my own question, yes, seems that evolve works exactly the same way as flyway here.

* there can either be one changelog for multiple schemas, or
* one changelog per schema
* something in between, eg one changelog for several related schemas, another changelog for other distinct schema(s).

[2020-04-10 07:16] #176 closed

[2020-04-10 07:29] lecaillon commented on #176
You're right, then you have to use the option: `Evolve.MetadataTableSchema` to distinct the location of the metadata table between your migrations.

[2020-08-06 14:26] abhi0079 opened #180 "Cannot insert the value null in column 'installed_on' in changelog table"
Anyone facing this issue.. whats the RCA & solution for this

[2020-08-12 12:26] b-twis opened #181 "Flyway metadata compatibility"
Hi,

We are currently using flyway for file based migration and are interested in adding some functionality to use Evolve to trigger  the migrations and stay compatible with flayway.

Only blocker we see at the moment is the difference in metadata table structure.

Would it be possible to add a functionality to have a flyway compatible change table?

Thanks,

Basil

[2020-08-12 16:50] lecaillon commented on #181
Hi, thanks for the feedback. We do not planned to add that feature. See #174

[2020-08-12 16:51] lecaillon commented on #180
Hi, the schema of your metadatatable must be invalid. See #155
Hope it can help.

[2020-08-13 06:16] b-twis commented on #181
Sorry I didnt see that isseue before, obviously my search skills were not great yesterday.

Our use-case is a little different as we have a devops process that deploys database migrations in a controlled manner, but would also like the ability to trigger the initial migrations at runtime between devops releases on a new database.

Getting flyway into dotnet code it not a very nice thought, and Evo

[2020-09-03 18:55] mfedatto commented on #43
I'm looking forward to such feature too. I believe rolling forward, like @IndikaUdagedara said, is the way to go. I use to create my rollback scripts on a separated directory, not listed in `Locations`, and if needed I just move it to be rolled out forward on a new version.

[2020-09-03 21:18] mfedatto commented on #92
Well, I can't see why it should be considered a part of a migration process, but I understand it would be awesome to have a tool analog to a migration to run shell scripts.

[2020-09-03 21:42] mfedatto opened #182 "db/datasets directory not being considered"
I'm trying to run my dataset scripts but it not being considered. It's a .Net Core Console Application with Evolve 2.4.0 and SQL Server.

[code]

[2020-09-03 22:00] mfedatto commented on #182
Oh! Just found it. It was an issue with my csproj. Was copying the `db/migrations/**/*.sql` ¯\\_(ツ)_/¯

[2020-09-03 22:00] #182 closed

[2020-09-24 11:44] richsage opened #183 "Can't accept duplicate filenames in different directories"
.NET Core 3.1 app, using the `Evolve.Migrate()` method call.

Our lookup path folder looks like this:

[code]

When we run the app, Evolve throws an exception as we have 2 migrations with the same filename, even though they're in different folders (and on different schemas). It would be useful to be able to have this kind of nesting of similarly-named files with some kind of inclusion of the folde

[2020-09-24 15:18] Lindvorn opened #184 "Repair and OutOfOrder cannot work together"
Hello.
I'm trying to use option OutOfOrder but in our code we also do the repair before migrate.

`var evolve = new Evolve.Evolve(cnn, msg => _logger.LogDebug($"{dbName}: {msg}"))
                        {
                             ...
                            OutOfOrder = opts.OutOfOrder
                        };
                        if (opts.RepairChecksums)
                        {

[2020-09-24 16:04] lecaillon commented on #184
Hi,
Don't use `Repair` if the content of your migration file hasn't changed.
`OutOfOrder` is needed when you want to apply a migration where the version is lesser than the last one. Your case, if I understand.
Indeed those 2 options cannot work together.

[2020-09-24 18:46] #184 closed

[2020-11-12 15:43] xr280xr opened #185 "MSBuild migration hangs indefinitely after upgrading to 2.4"
I've been using Evolve for a few years in a project that now has a little over 100 migration scripts. Yesterday I needed to start my database over from scratch and run through all of the migrations on it. The last script contained a large amount of inserts so I needed the timeout config added in 1.8, so I just upgraded from v1.5 to the latest v2.4 and the accompanying MS Build package. But 2.4 was

[2020-11-12 15:45] lunderhage opened #186 "SQL Server 2017: Create database outside transaction"
I am trying to create a database in SQL Server 2017 after have reading this PR:

https://github.com/lecaillon/Evolve/pull/150/files

[code]
Database is created, but:
[code]

Why does Evolve think it has the lock here and why does it fail because it did not? I appreciate some guidance here.

[2020-11-12 19:32] lecaillon commented on #186
Hi,
I'm surprised by this behavior because I have a test [here ](Run_all_SQLServer_migrations_work)that uses this [migration](https://github.com/lecaillon/Evolve/blob/master/test/Evolve.Tests/Integration/SQLServer/Resources/Sql_Scripts/Migration/V3_1__create_database_evolvedb.sql).
[code]
Is this the only statement you have in the migration file ?
Maybe you can give me more insight about the conte

[2020-11-12 20:24] lecaillon commented on #185
Hi,
Thank you to have taken the time to write a clear description of your issue.
Nevertheless hard to guess what is happening :)

I am a bit rusted with SQL Server, but why do you put the batch delimiter `GO` everywhere in your V1_66 script ?
Is it really usefull in your case ? :)
I ask the question because in Evolve the `GO` keyword is used [here ](https://github.com/lecaillon/Evolve/blob/master/

[2020-11-13 07:42] lunderhage commented on #186
Yes, that is the only sql script I have in Sql_Scripts. I am just trying to create a new database from scratch. I want to make a demo for my colleague with some different databases. CockroachDB was dead easy.

SQL Server (Linux) is:
[code]

[2020-11-13 09:13] lecaillon commented on #186
Weird, I even try to take the tag **2017-latest** you use to run my test. And it works.

Does the tag `-- evolve-tx-off` located in the first line of your script ?

[2020-11-13 09:42] lecaillon commented on #186
I think your issue is caused by the release of the lock placed at application level when Evolve starts, unitil it ends. That part is located here in the [code](
https://github.com/lecaillon/Evolve/blob/7ddd68d79303511d5857027602a196f5c6481cfd/src/Evolve/Dialect/SQLServer/SQLServerDatabase.cs#L26).
It is like Evolve can get the lock at start, but this one is already released after you created the d

[2020-11-16 11:02] lunderhage commented on #186
Something funny is going on in my database server here:

This works fine:
[code]

But if I do
[code]
in another session and the run the above script it will fail with
[code]
I know that I get the lock (0) by looking at @@Error.

[2020-11-16 11:18] lunderhage commented on #186
It would be really useful to get the actual SQL being executed.

[2020-11-16 19:59] lecaillon commented on #186
The lock used is a lock by session. If the session changes, it can explain the error. But again, how is it possible that this [test ](https://github.com/lecaillon/Evolve/blob/master/test/Evolve.Tests/Integration/SQLServer/MigrationTest.cs) works ? For what I understand, it is really similar to what you try to achieve ? Check the that [migration script](https://github.com/lecaillon/Evolve/blob/mast

[2020-12-22 10:19] pinx opened #187 "Skip repeatable migrations with errors"
This subject has been raised before: sometimes create-view scripts fail, because the referenced view does not exist, yet.

Flyway has the option to continue on errors. That would be a solution. The user could repeat the whole migration a few times, until all views are created successfully.

Another option would be to repeatedly execute scripts for as long as the number of errors decreases.

[2020-12-22 18:03] #180 closed

[2020-12-22 18:13] lecaillon commented on #187
Hi, in your example, re-named your repeatable migration scripts would not correct the issue of the view that needs a non yet created view ?

[2020-12-23 15:30] pinx commented on #187
We have a lot of views in our database, with multiple layers of dependency. When they were created, years ago, the naming was logical, but not with migration in mind.
They are in a production database, and I scripted them with SQL Server management studio. If I have to analyze them all, and rename them, I am taking over the maintenance from the consultant. I would rather not do that, but leave the

[2020-12-23 17:55] lecaillon commented on #187
I see your point. Is there any reason to not retry automatically the execution of repeatable migrations until the overall error count remains the same ? In other words, should this "new behaviour" be activated by default or not ? What is your opinion ? For my point of view, no. It could be the default (the only?) behaviour, even if it is considering a "breaking change".

[2020-12-28 10:16] pinx commented on #187
I checked the documentation of Flyway on [errorOverrides](https://flywaydb.org/documentation/concepts/erroroverrides).
This seems a bit complicated for our use case, so my proposal would be to create something similar, but simpler.
The configuration would be
`errorOverrides=skip|retry`
Command line option: `--error-overrides=skip|retry`

The desired behaviour would be to skip any scripts that gene

[2020-12-28 18:50] lecaillon commented on #187
I'm not comfortable with the option to skip **versionned migration** in error. I do not think it is a good idea (at best a niche feature). The state of a database should be predictable after Evolve runs those **versionned migrations**.
However automatically execute **repeatable migrations** for as long as the number of errors decreases, seems a good idea to facilitate the naming of the scripts, wi

[2020-12-30 12:23] pinx commented on #187
I totally agree that versioned migrations are too important to allow them to fail.
I do think it's good to have a switch like I described.

[2021-01-04 19:03] nicumaxian opened #188 "Repeatable migrations order"
Is there a possibility to mark a specific migration to run "Before" a regular migrations?

Usecase:
- We have set of functions which are used in multiple other regular migrations.
- We want to keep in all functions in one place and defining them with `CREATE OR REPLACE FUNCTION`. In this way, we easily track history with GIT
- Migration should run always, but `Before` other migrations.

Currently

[2021-01-05 10:37] lecaillon commented on #188
There is no dedicated option to achieve what you want.
But each time you need to add a new view, you could add it as a regular versionned migration AND as a repeatable one. Same script in the 2 files. And then of course, only update the repeatable one.

[2021-01-12 09:21] nicumaxian commented on #188
Is there a chance to add feature to run repeatable migrations before regular migration?

[2021-01-26 22:18] ssoloshchak commented on #188
There is opened PR for this: https://github.com/lecaillon/Evolve/pull/177/commits

[2021-01-26 22:20] ssoloshchak commented on #188
There is opened PR to be able run repeatable migrations before regular: https://github.com/lecaillon/Evolve/pull/177/commits

[2021-01-26 22:21] ssoloshchak commented on #188
There is opened PR to be able run repeatable migrations before regular: https://github.com/lecaillon/Evolve/pull/177/commits

[2021-01-26 23:12] lecaillon commented on #188
It is not planned. Execute repeatable migrations before versioned ones does not seem to be a widely shared usecase.
In order to keep Evolve simple I prefer not to consider such a feature.

And I thought of an other workaround for your issue : run Evolve 2 times :
- First time with the[ **Locations**](https://evolve-db.netlify.app/configuration/#options) option pointed only to your repeatable migra

[2021-02-02 07:49] Zarun1 opened #190 "Mark migration as already executed"
I'm working on a database project where we use Evolve to handle migrations. A team member carelessly made changes to the production database without using Evolve. After realizing the situation, we added migration scripts matching those changes to version control. But now we have a production database where those changes have already been made, without Evolve knowing about it. The changes added new

[2021-02-03 08:21] lecaillon commented on #190
First, did you manage to "fix" the Evolve metadata table ? @Zarun1

Then, it is an interessant idea just need to think about the easiest way to implement it in Evolve.

[2021-02-07 17:02] Zarun1 commented on #190
I did. First I manually added rows to the metadata table so that it looked like I used Evolve to run the migrations. Then I used "evolve repair" command to fix the checksums. The end result worked well.

[2021-02-09 19:52] Zelion commented on #81
Hi,

I'm trying to execute 2 ALTER DATABASE in separates scripts. This will always throw a "ALTER DATABASE statement not allowed within multi-statement transaction" and the following scripts will not be executed. We tried with the `-- evolve-tx-off` comment, but no luck. Would you know what we could do to fix this issue?

The point of the ALTER DATABASE is to create a FILEGROUP and then ADD FILE t

[2021-02-09 20:10] lecaillon commented on #81
Hi,
Some ideas :
- what version of Evolve do you use ?
- do not use explicit `BEGIN TRANSACTION` in your script

[2021-02-09 20:41] Zelion commented on #81
Evolve 2.4.0

I'm not

[2021-02-09 20:43] Zelion commented on #81
Also just tried to move the logic to a STORE PROCEDURE and do an EXEC from the migration script.
The STORE PROCEDURE does work, when trying from Evolve, does not.
Also added in the SP:
`SET IMPLICIT_TRANSACTIONS OFF
SET @SQLString = 'ALTER DATABASE [' + @dbName + '] SET RESTRICTED_USER WITH ROLLBACK IMMEDIATE;'`
and no luck

[2021-02-09 20:45] lecaillon commented on #81
Can  you include your script if there is no private data inside ? It will help me understand the issue

[2021-02-09 20:47] Zelion commented on #81
`DECLARE @dbName VARCHAR(15);
	DECLARE @SQLString NVARCHAR(500);
	DECLARE @physicalName VARCHAR(500);
	DECLARE @path VARCHAR(500);

	SET @dbName = DB_NAME()
	SET @physicalName = (SELECT TOP(1) physical_name FROM sys.database_files)
	SET @path = LEFT(@physicalName, CHARINDEX('\FST', @physicalName))

	SET IMPLICIT_TRANSACTIONS OFF
	SET @SQLString = 'ALTER DATABASE [' + @dbName + '] SET RESTRICTED_US

[2021-02-09 20:55] lecaillon commented on #81
Where is the `-- evolve-tx-off` ?

[2021-02-09 20:58] Zelion commented on #81
This is the migration script:
`-- evolve-tx-off
EXEC StoreFileGroupTest;`

[2021-02-09 21:01] lecaillon commented on #81
You EXEC in the comment ?

[2021-02-09 21:03] Zelion commented on #81
No, I'm new to the Insert Code in GitHub, for some reason it's not recognizing the line breaks

`-- evolve-tx-off
EXEC StoreFileGroupTest;`

[2021-02-09 21:50] lecaillon commented on #81
You can **preview** before posting a comment by the way.

Is the `EXEC StoreFileGroupTest;` in the separate migration script ? After the migration script that create the stored procedure ?

[2021-02-09 21:51] Zelion commented on #81
I created the SP manually in the DB to test this, and yes, the EXEC line is in the migration script.

[2021-02-09 21:57] lecaillon commented on #81
Evolve search for -- evolve-tx-off in the first line of the script. Is this the case ?

[2021-02-09 21:58] Zelion commented on #81
Yes, I have only this 2 lines in the script:
`-- evolve-tx-off`
`EXEC StoreFileGroupTest;`

[2021-02-09 22:03] lecaillon commented on #81
You could try to mimic what Evolve does in a ConsoleApp and tell me if it works :

[code]

[2021-02-10 12:13] Zelion commented on #81
It works

[2021-02-10 12:56] lecaillon commented on #81
Well, I don't have any idea. Maybe simplify the SP until it passes to isolate the issue.
And if you run Evolve from your app, post the code you use to run Evolve

[2021-02-11 18:05] lecaillon opened #191 "Migrate from .NET 4.6.1 to .NET 4.7.2"

[2021-02-11 20:50] #191 closed

[2021-02-11 20:51] lecaillon opened #193 "Remove support of .NET 3.5"

[2021-02-11 22:38] lecaillon opened #194 "Drop support of Evolve MSBuild"
Because it is hard to test and maintain, hard to deal with the versatile MSBuild and because it is not blocking in any scenario, Evolve MSBuild will not reach version 3.0. The version 2.4 will stay the last version available.

[2021-02-11 22:54] lecaillon commented on #194
Merged in https://github.com/lecaillon/Evolve/commit/cbb7a1ef46ba9467bf313bda91abe86f487cd42e

[2021-02-11 22:54] #194 closed

[2021-02-11 23:05] #193 closed

[2021-02-12 00:28] lecaillon opened #196 "Migrate from netstandard2.1 to net5.0"

[2021-02-12 21:19] #196 closed

[2021-02-13 02:00] lecaillon commented on #185
Since Evolve MSBuild 2.4 support is dropped, I guess this issue is no more relevant.

[2021-02-13 02:00] #185 closed

[2021-02-13 02:02] #181 closed

[2021-02-13 08:56] lecaillon opened #200 "Show allowed values in help text"

[2021-02-13 09:38] lecaillon commented on #200
Addressed by #201

[2021-02-13 09:38] #200 closed

[2021-02-14 21:59] #187 closed

[2021-02-15 18:01] lecaillon commented on #183
Migration name must be unique. It is at Evolve core. Changing that could lead to unwanted edge case for very little gain I think.
If it is an issue for you, you could prefix or suffix your repeatable scripts with the name of the schema, couldn't you ?

[2021-02-15 18:58] lecaillon commented on #172
Done

[2021-02-15 18:58] #172 closed

[2021-02-15 22:23] lecaillon commented on #190
What about an option called `MarkNextMigrationApplied` used with the command migrate ? When run, Evolve would mark the next available migration successful and stop.

- Example with the Evolve CLI :

[code]

[2021-02-16 09:33] johnwright opened #203 "Erase fails when functions depend on each other"
Sample output:

[code]
**Evolve Tool version:** 2.4.0
**SQL Server version:** Microsoft SQL Server 2019 (RTM) - 15.0.2000.5 (X64)   Sep 24 2019 13:48:23   Copyright (C) 2019 Microsoft Corporation  Developer Edition (64-bit) on Windows 10 Home 10.0 <X64> (Build 15063: )

N.B. both functions are defined `WITH SCHEMABINDING`.

[2021-02-16 10:08] johnwright commented on #203
I forgot to mention - this doesn't seem to happen consistently. Maybe the ordering of dropping functions isn't deterministic?

[2021-02-16 10:48] lecaillon commented on #203
Thanks for the feedback, I'm going to check what can be done

[2021-02-16 18:50] lecaillon commented on #203
Just release Evolve 3.0.0-alpha2 that should fix your issue.

[2021-02-17 10:41] johnwright commented on #203
Thanks for this! I'll try with that version and get back to you. It might take a while as the issue is intermittent.

[2021-02-17 10:45] johnwright commented on #203
Since I'm using Evolve.Tool, is there a way for me to try this version on the command line? Or would you need to release a new version of the tool also?

[2021-02-17 10:59] lecaillon commented on #203
So I'm gonna release a version of Evolve.Tool too. It should be available in the hour. Note that in the version 3.0.0, Evolve.Tool needs either **netcoreapp3.1** or **net5.0** on your machine. (netcoreapp2.2 support is over)

[2021-02-17 11:47] johnwright commented on #203
Unfortunately I'm getting a different error now. I think it's happening because a table with a computed column depends on that function, and functions are now being dropped before tables.

    PS C:\Users\John\P1\P1.A> dotnet tool update Evolve.Tool --global --version 3.0.0-alpha2
    Tool 'evolve.tool' was successfully updated from version '2.4.0' to version '3.0.0-alpha2'.
    PS C:\Users\John\P

[2021-02-17 11:59] lecaillon commented on #203
Ok then. Again, thank you for your feedback. Your description of the issue is really clear.
I've been a bit lazy concerning the computed columns indeed ;) I must apply the same "pattern" than the one I used for the functions. My bad. I will release an alpha3 as soon as I can (tomorow at worst). I will post a new comment to notify you.

[2021-02-17 20:29] lecaillon commented on #203
@johnwright  **Evolve-Tool  3.0.0-alpha3** released

Happy testing ;)

[2021-02-18 21:20] johnwright commented on #203
Thanks for the update!

I'm still seeing an error, but it doesn't look like it's related to function dependencies this time. It's just a regular foreign key dependency between tables. Several tables have a foreign key referencing `EnquiryItemTransition`.

[code]

Is it possible that the `GetTables()` call is returning tables in an incorrect order, or that checking for `table_type='BASE_TABLE'` isn

[2021-02-18 21:24] lecaillon commented on #203
Ok your database schema is challenging. Let me check the logic one more time. If you could send me your database scripts on my personnal mail it would be perfect. But I understand if there is sensitive data you cannot share of course.

[2021-02-18 22:04] lecaillon commented on #203
What's strange, is that I drop FK constraints first : `DropForeignKeys();` in the erase process ...

[2021-02-18 22:44] johnwright commented on #203
Yes, it returns a lot of rows - it looks like the drop didn't work properly.

I've emailed the schema to evolve-db@hotmail.com, I hope that makes it clearer what's going on here.

[2021-02-18 23:56] lecaillon commented on #203
Thank you @johnwright The good news is I can reproduce the issue now. The bad news is that is not trivial. Your database objects rely a lot on each other. Like I said, it's challenging. I need time for that kind of issue. I will work on it this week-end. I hope I will release an alpha4 by monday. I'll keep you in touch

[2021-02-19 00:16] johnwright commented on #203
Thanks for your help, I really appreciate it.

I had a look at the equivalent code in Flyway, and they are using a [similar approach](https://github.com/flyway/flyway/blob/master/flyway-core/src/main/java/org/flywaydb/core/internal/database/sqlserver/SQLServerSchema.java) - I'll try testing with Flyway to see if their code works for this schema.

[2021-02-19 11:27] johnwright commented on #203
I've tried with Flyway, and it also isn't able to clean the schema. It fails because a check constraint is dependent on a computed column!

[2021-02-19 12:39] Obish commented on #97
hi

Thanks for your prompt answers but i'm having same issue .

Please see my migration script

USE ${databasename}
GO

-- =============================================
-- Author:		<Author,,Inioluwa Obisakin>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[proc_tblTransactions_AddTransaction]
    @mert_id Bigi

[2021-02-19 13:36] lecaillon commented on #97
Your post is not well formatted. It is hatrd to understand what you want to achieve.

[2021-02-19 13:54] lecaillon commented on #203
Ok, thanks. It is nice to know. Nevertheless, I'll try to find a solution as I told you.

[2021-02-19 21:11] lecaillon commented on #203
@johnwright  **Evolve-Tool  3.0.0-alpha4** released

The issue is now fixed on my computer ;)
I added an [integration test](https://github.com/lecaillon/Evolve/tree/master/test/Evolve.Tests/Integration/SQLServer/Resources/Sql_Scripts/Migration_203) based on your migration. Tell me if it is a problem.

Happy testing again

[2021-02-22 10:27] johnwright commented on #203
This is now working - thanks very much! I owe you a coffee if you're ever in London.

However, I'd appreciate it if you could rewrite your master branch to remove the migrations from Git history. They're intellectual property of a client, and should not be public information.

[2021-02-22 10:39] lecaillon commented on #203
I've got family there, who knows :) ?
In the meantime, I would appreciate that you try to convince your company to [sponsor me](https://github.com/sponsors/lecaillon), even by the smallest tier : a coffee. It would help me spend more time developping new features and helping more people using it.

[2021-02-22 14:53] johnwright commented on #203
Absolutely, especially since we will be using Evolve for the duration of this client project and most likely for others too!

One thing though - although commit 911c929 deleted the schema, it's still in Git history.

Would you be happy to instead amend commit 045e141 and force-push? Sorry for the extra hassle but it's our client's property.

[2021-02-22 15:38] lecaillon commented on #203
Thank you, appreciated it. I would be happy to put the logo of your company on the Evolve's homepage and/or documentation if you want.

And tell me if the git history is alright for you now, I'm not a git wizard

[2021-02-24 15:14] #203 closed

[2021-02-26 12:04] johnwright commented on #203
Git history looks good, thanks very much. Sponsorship should be set up now!

[2021-02-26 13:42] sergiu-svinarciuc commented on #97
Hey @lecaillon , first of all thank you so much for a great tool!

The root cause of the issues above, most probably, is the usage of "use [<db>]" statement, specifically when this one is not consistent with the target DB provided in the connection string. In such case, when Evolve is done with applying the patches, it tries to release the lock in a different context because of the "use" statement

[2021-02-26 18:34] lecaillon commented on #97
Thanks a lot @sergiu-svinarciuc ! That's a serious lead. I think you're right. And it explains why my current SQL Server tests work, because I do not change of database in my scripts [V3_1](https://github.com/lecaillon/Evolve/blob/master/test/Evolve.Tests/Integration/SQLServer/Resources/Sql_Scripts/Migration/V3_1__create_database_evolvedb.sql) and [V_3_1_1](https://github.com/lecaillon/Evolve/blob

[2021-02-26 18:41] sergiu-svinarciuc commented on #97
Sounds great @lecaillon and thank you for a quick turnaround on this one.

[2021-03-04 12:36] lecaillon commented on #203
Yes it is ! Thank you very much. Highly appreciated. Feel free to send me feedback or contact me for anything related to Evolve

[2021-03-04 18:23] lecaillon opened #210 "Add option TransactionMode.CommitAll"
The idea is to give the possibility to manage Evolve transaction scope, to not only commit each successful script, but to commit a group of script if they all succeed or rollback them all if one fails.

This leads to an new option : **Evolve.TransactionMode**
- CommitEach (current default mode)
- CommitAll
- RollbackAll

Sarting here with the value `CommitAll`

[2021-03-04 18:25] lecaillon commented on #175
Finally addressed in #210

[2021-03-04 18:25] #175 closed

[2021-03-06 23:49] lecaillon commented on #210
Addressed in #213

[2021-03-06 23:49] #210 closed

[2021-03-07 07:53] lecaillon commented on #160
Finally, this feature will be available in Evolve 3.0 as an option : `TransactionMode.RollbackAll`.
The idea is to give the possibility to manage Evolve transaction scope. In this case, run all the scripts of the migration and then rollback them in order to validate/preview the changes Evolve will make to the database.

[2021-03-07 18:47] #160 closed

[2021-03-07 18:50] lecaillon commented on #160
See #210 for the `TransactionMode.CommitAll` feature
I will publish soon **Evolve 3.0.0-alpha5** to be able to test it before I release it. Feel free to give feedback

[2021-03-07 22:56] lecaillon commented on #186
Addressed in #97

[2021-03-07 22:56] #186 closed

[2021-03-08 09:19] lecaillon commented on #97
@sergiu-svinarciuc I finally reproduce the issue. As Sergiu thought it is link to the `USE [database]` statement. When it is used in a script, SQL Server changes session from where the Evolve application lock is attached, causing a release of the lock. Then it fails when Evolve tries to release it again at the end of the migration.
To avoid this pitfall, several options:
- Do not use the `USE [myd

[2021-03-09 00:18] #183 closed

[2021-03-11 00:28] #97 closed

[2021-03-14 09:34] lecaillon commented on #190
Available since **Evolve 3.0.0-alpha6**

[2021-03-14 09:34] #190 closed

[2021-03-17 13:04] lecaillon opened #217 "Update Evolve documentation"

[2021-03-21 10:12] #217 closed

[2021-03-22 09:36] lecaillon commented on #188
Without any news from the author I close the issue. Feel free to open a new one, if you need it again

[2021-03-22 09:36] #188 closed

[2021-03-23 21:00] lecaillon opened #218 "Add new option to always execute a repeatable migration"
Even if the checksum hasn't changed, always execute the repeatable migration by adding this instruction at the beginning of the file:

[code]

[2021-03-24 08:53] lecaillon commented on #92
I'm finally thinking about adding this kind of feature to Evolve. Give the possibility to run powershell on Windows, Bash on Linux at some specific points of the Evolve execution workflow. Something like :
- OnValidated.ps1/sh : after Evolve validate its pre-requisites
- OnMigrating.ps1/sh : before each execution of a migration
- OnMigrated.ps1/sh: after each execution of a migration
- OnErrorMigr

[2021-03-24 21:16] #218 closed

[2021-03-27 11:29] lecaillon opened #220 "Add new option MigrationLoader"
A dedicated `IMigrationLoader` property to help you customize the Evolve migration collect process and enable your own specific logic. It replaces the built-in ones you can derive from :
- `EmbeddedResourceMigrationLoader`
- `FileMigrationLoader`

[2021-03-27 20:42] lecaillon opened #222 "Enable quotes in migration name"

[2021-03-27 20:56] #222 closed

[2021-04-03 20:30] lecaillon opened #224 "Add SQL Server GO delimiter support in SQL comment"

[2021-04-03 20:30] #224 closed

[2021-04-14 12:20] jyriaganitsh opened #225 "PostgreSQL "syntax error at or near "LIKE" at character 16""
Evolve 3.0.0
Npsql 5.0.4

In db log:

[code]

[2021-04-14 12:27] lecaillon commented on #225
It is normal. It is the way Evolve knows what kind of database is running against. Details [here](https://github.com/lecaillon/Evolve/blob/e20d448c851b5c88527b203b062fc67db1484419/src/Evolve/Extensions/WrappedConnectionEx.cs#L21) if you're interrested

[2021-04-14 13:16] #225 closed

[2021-04-23 13:53] enrique-ceriotti opened #226 "Add support for DELIMITER statement MySql / MariaDB"
It would be very good to have support for the "DELIMITER" statement because without it we cannot create stored procedures.

Currently, this makes it impossible to create stored procedures, which is a common practice.

Thanks!

[2021-04-23 17:31] lecaillon commented on #226
Could you please try using this driver : [MySqlConnector](https://www.nuget.org/packages/MySqlConnector/)

[2021-04-23 20:48] enrique-ceriotti commented on #226
In my case the solution is not possible, this because the migration files (.sql) do not have an associated .net project to be able to include the MySqlConnector package.
Our idea is to execute the migrations using the CLI. Like this example:
`evolve migrate mysql -c "Server=$DB_URL;Database=$DB_NAME;User Id=$DB_USER;Password=$DB_PASSWORD;AllowUserVariables=True;" -l "./db/migrations" `

[2021-04-23 21:48] lecaillon commented on #226
The CLI ([Evolve.CLI](https://evolve-db.netlify.app/getting-started/cli/)) used MySqlConnector internally to execute MySQL scripts. So try not to use any delimiter between your statements, just the semicolon. It should be ok according to the issue mentionned above.

[2021-04-24 08:19] antapos commented on #41
I consider contributing to this feature. Is someone else already working on this?

[2021-04-29 16:27] maslbl4 opened #228 "Add validation command"
Please add validate command as in other migration libraries.

This command must validate input migrations with already applied migrations and in case of a mismatch, throw an error

Links for libraries:
- **Flyway**
https://flywaydb.org/documentation/usage/commandline/validate
- **Liquibase**
https://docs.liquibase.com/commands/community/validate.html

[2021-05-18 13:11] kellielellie1 opened #229 "Can't specify custom table name"
Evolve 2.4.0
Does not create custom table name - still creates 'changelog'. I have tried setting the option MetadataTableName on it's own, and I have also tried adding the MetadataTableSchema as well, in case it helps - but it doesn't.

Using MySQL

[code]

[2021-05-18 13:16] kellielellie1 opened #230 "Command set to Info, but doing Migration instead of showing Info"
Evolve v2.4.0

I have set the command to Info, but I noticed it ran the Migration.
Info does not seem to be working.
using mysql

[code]

[2021-05-18 13:19] lecaillon commented on #229
Using `Info` command does not alter anything in your database schema. It is normal.

[2021-05-18 13:23] lecaillon commented on #230
Use the method `Info()` instead. `Migrate()` override the `CommandOptions` to migrate your database. It is normal.

[2021-05-19 01:34] kellielellie1 commented on #230
I did evolve.Info(); and it still did the migration and does not show the Info.

[code]

Here is what my console shows in visual studio when i build my sln:

[code]

[2021-05-19 01:46] kellielellie1 commented on #229
Took info command away, still does not create my custom table specified:

[code]

[2021-05-19 01:47] lecaillon commented on #230
If you use the `Evolve.MSBuild` Nuget package Evolve is running at build time and configured via config file, not by the code you paste above . This package is 'deprecated'. I recommend you to use the NuGet package Evolve 3.0

[2021-05-19 01:48] kellielellie1 commented on #230
Sweet, thank you, excited to try it

[2021-05-19 01:48] lecaillon commented on #229
You use the wrong Evolve package. See my comment [here](https://github.com/lecaillon/Evolve/issues/230#issuecomment-843682251)

[2021-05-19 01:54] kellielellie1 commented on #229
Thanks, I was wondering why evolve was running during build, I had taken this task over from another dev and dint realise the msbuild version was also installed. Shall I delete these two issues from your board?

[2021-05-19 07:32] lecaillon commented on #229
No, I'm just gonna close them. See you !

[2021-05-19 07:32] #229 closed

[2021-05-19 07:32] #230 closed

[2021-05-20 02:09] kellielellie1 commented on #43
Rolling forward not so easy to do when you embed the scripts. That would involve another deployment.

[2021-06-30 17:45] lecaillon commented on #228
When the validation must fail ?
- when we don't find the script of an already applied migration.
- when the checksum of the found script does not match the checksum of the applied migration.
- when a existing script is not applied yet ?

Not sure about the last one.
Do you see other reasons ?

[2021-07-01 08:57] fredericbirke commented on #228
The last one is important as well. If your services don't automatically migrate the database (which is the case, if you have multiple instances of the same service), you still want to be able to report the service as unhealthy in this case, because the database doesn't meet the services requirements.

[2021-07-25 19:03] vijayganeshpk opened #231 "Invalid value specified for Database when using configuration file"
Hi,
 Evolve Tool version: 3.0.0
MacOS: 11.4 (BigSur)
dotnet --info:

[code]

Content of `evolve.args.txt`:

[code]

When I try to execute `dotnet tool run evolve erase '@evolve.args.txt'`, I get error:

[code]

But if copy paste the content of the configuration file as part of the command prompt:

[code]

it executes without a problem.

[code]

Any ideas what could be causing problems when trying

[2021-07-25 19:20] lecaillon commented on #231
Hi,

First, nerver tried with .Net6
Maybe test without the quotes surrounding the args.txt param ?

[2021-07-25 20:34] vijayganeshpk commented on #231
Thanks @lecaillon

I am not sure .Net 6 is an issue as using the same parameters without configuration file seems to work fine.

I also tried without the surrounding quotes, but no luck. I am following the example as given at https://evolve-db.netlify.app/getting-started/tool/

[2021-08-28 15:46] leepfrog-ger opened #234 "Misleading error when using with MariaDB 10.6 (EvolveException: Connection to this DBMS is not supported.)"
Thanks for this great library!

I spend a few hours troubleshooting a specific issue that came up when updating my DB server from Maria DB 10.4 to 10.6. To save others some time that may run into the same issue, here is my analysis.

While - to my understanding - ultimately the issue lies within the defaults chosen by MariaDB 10.6 and incompatibilities of the .NET Framework the error handling coul

[2021-09-13 10:15] fdw opened #237 "[Feature] Mark migrations as idempotent"
Hi, we are using Evolve for our product, so first some thanks is in order!

Unfortunately, we are in a situation where we have to support multiple versions of our product. Thus, we might be expected to hotfix an older version (f.e. v1.7), and of course we want to include the same hotfix also for the next release (f.e. v2.2). Just having the script in there is not enough, as it will not be executed